<%- set_meta_tags noindex: true %>
<div class="beige-wrapper">

          <div class="heading"><h2>アカウント情報編集</h2>
          <p>登録するID/PASSを入力して下さい。</p></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <table>
    <colgroup>
      <col width="40%">
      <col width="60%">
 　 </colgroup>
    <tr>
      <th>企業名<span class="label label-blue">必須</span></br>
            <small>株式会社ABC</small></th>
      <td> <%= f.text_field :user_name %></td>
    </tr>
    <tr>
      <th>月間送信上限件数<span class="label label-blue">必須</span></br>
            <small>1000</small></th>
      <td> <%= f.number_field :rate_limit %></td>
    </tr>
    <tr>
      <th>ログインアドレス<span class="label label-blue">必須</span></br>
              <small>aaa@crold-valieat.jp</small></th>
      <td> <%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th>現在のパスワード<span class="label label-blue">必須</span></br>
              <small>******</small></th>
      <td>
        　<%= f.password_field :current_password, autocomplete: "off" %>
      </td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit "更新する", class:"btn btn-success" %></td>
    </tr>
</table>
<% end %>

<div class="heading"><h2>アカウント削除</h2></div>

<table>
  <colgroup>
    <col width="40%">
    <col width="60%">
　 </colgroup>
  <tr>
    <th>アカウント削除</th>
    <td> <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class:"btn btn-success"%></td>
  </tr>
  <tr>
    <th>戻る</th>
    <td> <%= link_to "戻る", :back, class:"btn btn-success" %></td>
  </tr>
</table>
