<%- set_meta_tags noindex: true %>
<div class="beige-wrapper">

          <div class="heading"><h2>クラウドワーカー新規登録</h2>
          <p>登録するID/PASSを入力して下さい。</p></div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
    <table>
      <colgroup>
        <col width="40%">
        <col width="60%">
   　 </colgroup>
      <tr>
        <th>ユーザーネーム<span class="label label-blue">必須</span></br>
              <small>山田太郎</small></th>
        <td> <%= f.text_field :user_name %></td>
      </tr>
      <tr>
        <th>お名前<span class="label label-blue">必須</span></br>
              <small>山田太郎</small></th>
        <td>(姓)<%= f.text_field :first_name, class:"harf" %>(名)<%= f.text_field :last_name, class:"harf" %></td>
      </tr>
      <tr>
        <th>緊急連絡先<span class="label label-blue">必須</span></br>
              <small>00000000000</small></th>
        <td> <%= f.telephone_field :tel %></td>
      </tr>
      <tr>
        <th>ログインアドレス<span class="label label-blue">必須</span></br>
                <small>aaa@crold-valieat.jp</small></th>
        <td> <%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th>パスワード<span class="label label-blue">必須</span></br>
                <small>*******</small></th>
        <td><% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>

              <% end %>
              <%= f.password_field :password, autocomplete: "off" %></td>
      </tr>
      <tr>
        <th>パスワード<span class="label label-blue">必須</span></br>
                <small>******</small></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "off" %>
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= f.submit "同意して登録" %></th>
      </tr>
</table>
<br>
<% end %>
<div class="center">
<%= render "workers/shared/links" %>
</div>
