<div id="wrapper">

  <div class="heading"><h2>FAQリスト</h2>
    <p>FAQ List</p></div>
      <table width="80%">
        <col width= "30%">
        <col width= "60%">
        <col width= "10%">
        <tr>
          <th>題名</th>
          <th>コンテンツ</th>
          <th>削除</th>
        </tr>
          <% @faqs.each do |faq| %>
        <tr>
          <th><%= faq.question %></th>
          <td><%= faq.answer %></td>
          <td><%= link_to '削除',
                faq_path(faq),
                method: :delete,
                class: 'command',
                data: { confirm: '本当に削除しますか？'} %></td>
        </tr>
        <%end%>
      </table>


<br>
<br>

      <div class="heading"><h2>FAQ新規登録</h2>
        <p>FAQ regstration</p></div>
  <%= form_for @faq do |f|%>
    <table width="80%">
      <tr>
        <th>題名</th>
        <th>種類</th>
      </tr>
      <tr>
        <td><%= f.text_field :question %></td>
        <td><%= f.text_field :select %></td>
      </tr>
      <tr>
        <th colspan="2">内容</th>
      </tr>
      <tr>
        <td colspan="2"><%= f.text_area :answer %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.submit '登録', data: { confirm: '登録しますか？'}%></td>
      </tr>
    </table>
  <%end%>
