<%- set_meta_tags noindex: true%>
<br>
<br>
<br>
<br>
<table class="header-table space" width="90%">
  <tr>
    <th colspan="7">スタッフ別コール</th>
  </tr>
  <tr>
    <th>CW名</th>
    <th>本日の実施件数</th>
    <th>昨日の実施件数</th>
    <th>今週の実施件数</th>
    <th>今週の残件数</th>
    <th>今月の実施件数</th>
  </tr>
  <% @workers.each do |worker| %>
  <tr>
    <td><%= worker.user_name %></td>
    <td class="red"><%= worker.customers.where('updated_at > ?', Time.current.beginning_of_day).where('updated_at < ?', Time.current.end_of_day).where.not(tel: nil).count %></td>
    <td><%= worker.customers.where('updated_at > ?', Time.current.prev_day).where.not(tel: nil).count %></td>
    <td><%= worker.customers.where('updated_at > ?', Time.current.beginning_of_week).where('updated_at < ?', Time.current.end_of_week).where.not(tel: nil).count %></td>
    <td class="red"><%= 210 -  worker.customers.where('updated_at > ?', Time.current.beginning_of_week).where('updated_at < ?', Time.current.end_of_week).where.not(tel: nil).count %></td>
    <td><%= worker.customers.where('updated_at > ?', Time.current.beginning_of_month).where('updated_at < ?', Time.current.end_of_week).where.not(tel: nil).count %></td>
  </tr>
  <%end%>
</table>
<br>
<br>
<br>
<br>
