<%= form_for @progress do |f| %>
  <table>
   <tr>
     <th>ステータス</th>
     <td><%= f.text_field :statu %></td>
     <th>過去アポ利用履歴</th>
     <td><%= f.text_field :history %></td>
   </tr>
   <tr>
     <th>単価</th>
     <td><%= f.text_field :price %></td>
     <th>件数</th>
     <td><%= f.text_field :number %></td>
   </tr>
   <tr>
   <tr>
     <th>エリア</th>
     <td><%= f.text_field :area %></td>
     <th>対象者</th>
     <td><%= f.text_field :target %></td>
   </tr>
   </tr>
   <tr>
     <th>次回営業日</th>
     <td><%= f.text_field :next %></td>
     <th></th>
     <td></td>
   <tr>
     <th colspan ="2">サービス内容</th>
     <td colspan ="2"><%= f.text_area :content %></td>
   </tr>
   <tr>
     <th colspan ="2">コメント</th>
     <td colspan ="2"><%= f.text_area :comment %></td>
   </tr>
   <tr>
     <td colspan ="4"><%= f.submit "登録" %></td>
   </tr>
  </table>
<% end %>
