<script>
$(function () {
  var autoTyping = function () {
    var contents = $('iframe').contents();

    $.each(gon.typings, function(name, typing) {
      const element = contents.find('[name="' + name + '"]');

      element.attr('placeholder', name);
      element.val(typing.value);
    });
  }

  $('iframe').css('left', '340px');
  $('iframe').css('width', 'calc(100% - 340px)');

  $('iframe').load(autoTyping);

  $('.entries > span').click(function () {
    if ($('.entries__detail').is(':hidden')) {
      $(this).text('↑');
      $('.entries__detail').show();
      $('iframe').css('left', '340px');
      $('iframe').css('width', 'calc(100% - 340px)');
    } else {
      $(this).text('↓');
      $('.entries__detail').hide();
      $('iframe').css('left', '0');
      $('iframe').css('width', '100%');
    };
  });
});
</script>

<div id="okurite-preview">
  <div class="entries">
    <span class="entries__title">↑</span>

    <div class="entries__detail">
       <div class="row">
        <div class="col-sm-3">
         <% if @prev_customer %>
           <%= link_to '前へ ←', sender_okurite_preview_path(okurite_id: @prev_customer.id, q: params[:q]&.permit!), class:"btn btn-success" %>
         <% end %>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
         <% if @next_customer %>
           <%= link_to '→ 次へ', sender_okurite_preview_path(okurite_id: @next_customer.id, q: params[:q]&.permit!), class:"btn btn-success" %>
         <% end %>
        </div>
       </div>

      <h4>
        <%= link_to '送信情報', sender_path(@sender), target: :_blank %>
      </h4>

      <table class="table table-striped">
        <col width="40%">
    		<col width="60%">
        <tr>
          <th>取引企業名</th>
          <td><%= @sender.user_name %></td>
        </tr>
        <tr>
          <th>問い合わせ数</th>
          <td><%= @sender.contact_trackings.count %> / <%= @sender.rate_limit %></td>
        </tr>
      </table>

      <h4>
        <%= link_to '企業情報', sender_okurite_path(id: @customer.id, sender_id: @sender.id), target: :_blank %>
      </h4>

      <table class="table table-striped">
        <col width="40%">
    		<col width="60%">
        <tr>
          <th>会社名</th>
          <td><%= @customer.company %></td>
        </tr>
        <tr>
          <th>送信情報が出ない場合検索</th>
          <td>
            <% if @contact_url %>
              <%= link_to '別タブで表示', @contact_url, target: :_blank  %><br>
            <% end %>
            <% if @customer.company != blank? %>
          　  <%=
              link_to 'Google で再検索',
              "https://www.google.co.jp/search?hl=ja&num=11&q=#{URI.encode_www_form_component([@customer.company, @customer.address, @customer.tel].join(' '))}",
              target: :_blank%>
            <%end%>
            <br>
            <% if @customer.url != blank? %>
             <%=
              link_to 'URLで検索',
              "https://www.google.co.jp/search?hl=ja&num=11&q=#{URI.encode_www_form_component([@customer.company, @customer.address, @customer.tel].join(' '))}",
              target: :_blank
             %>
            <%end%>
          </td>
        </tr>
      </table>

      <h4><%= link_to '送信履歴', sender_path(@sender), target: :_blank %></h4>

      <table class="table table-striped">
        <col width="40%">
    		<col width="60%">
        <tr>
          <th>ステータス</th>
          <td><%= @contact_tracking&.status || '-' %></td>
        </tr>
      </table>

      <% if @contact_tracking %>
        <table class="table table-striped">
          <tr>
            <th>最終確定日時</th>
            <td><%= @contact_tracking.updated_at %></td>
          </tr>
          <% if @contact_tracking.success? %>
            <tr>
              <th>送信日時</th>
              <td><%= @contact_tracking.sended_at %></td>
            </tr>
            <tr>
              <th>URLアクセス日時</th>
              <td><%= @contact_tracking.callbacked_at || '-' %></td>
            </tr>
          <% end %>
        </table>
      <% end %>

      <% if @sender.rate_limit > @sender.contact_trackings.count %>
        <%= form_tag sender_okurite_contact_url(okurite_id: @customer), method: :post do %>
          <%= hidden_field_tag :contact_url, @contact_url %>
          <%= hidden_field_tag :inquiry_id, @inquiry.id %>
          <%= hidden_field_tag :callback_code, @callback_code %>
          <%= hidden_field_tag :next_customer_id, @next_customer&.id %>

          <div class="input-group">
            <%- if admin_signed_in?%>
             <%= select_tag(
              :status,
              options_for_select(['送信済', '送信不可', '営業NG', 'メールAPP', 'テレアポAPP']),
              class: 'custom-select'
             )%>
            <%- else %>
             <%= select_tag(
              :status,
              options_for_select(['送信済', '送信不可', '営業NG']),
              class: 'custom-select'
             )%>
            <%end%>

            <div class="input-group-append">
              <%= submit_tag '確定', class: 'btn btn-outline-secondary', class:"btn btn-success" %>
            </div>
          </div>
        <% end %>
        <small class="red">
          【減給対象】
          <br>
          ※重複する企業に送信を行う行為
          <br>
          ※企業HPとは異なる企業に送信する行為
          <br>
          ※送信していないにも関わらず送信カウントする行為
          <br>
          ※営業メール不可の企業に対して送信する行為
        </small>
        <dl>
          <dt class="col-12">会社名</dt>
          <dd class="col-12"><pre><%= @inquiry.from_company %></pre></dd>
          <dt class="col-12">担当者</dt>
          <dd class="col-12"><pre><%= @inquiry.person %></pre></dd>
          <dt class="col-12">タントウシャ</dt>
          <dd class="col-12"><pre><%= @inquiry.person_kana %></pre></dd>
          <dt class="col-12">電話番号</dt>
          <dd class="col-12"><pre><%= @inquiry.from_tel %></pre></dd>
          <dt class="col-12">FAX番号</dt>
          <dd class="col-12"><pre><%= @inquiry.from_fax %></pre></dd>
          <dt class="col-12">住所</dt>
          <dd class="col-12"><pre><%= @inquiry.address %></pre></dd>
          <dt class="col-12">メールアドレス</dt>
          <dd class="col-12"><pre><%= @inquiry.from_mail %></pre></dd>
          <dt class="col-12">URL</dt>
          <dd class="col-12"><pre><%= @sender.callback_url(@callback_code) %></pre></dd>
          <dt class="col-12">件名</dt>
          <dd class="col-12"><pre><%= @inquiry.title %></pre></dd>
          <dt class="col-12">本文</dt>
          <dd class="col-12"><pre><%= @inquiry.parse_content(@sender, @callback_code) %></pre></dd>
        </dl>
      <% else %>
        <div class="alert alert-danger" role="alert">
          今月は上限に達しました
        </div>
      <% end %>
    </div>
  </div>

  <div class="tops-wrapper">
    <% if @contact_url %>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%= @contact_url %>" allowfullscreen></iframe>
      </div>
    <% else %>
      <p class="col-12" style="width: 100%;text-align: center;">問い合わせページが不明です</p>
    <% end %>
  </div>
</div>
