<%= form_for @invoice do |f|%>

<table>
	<tbody>
	  <tr>
	    <th>ステータス</th>
        <td><%= f.select(:status,[
               ["入金前","入金前"],
               ["入金済","入金済"],
                ]) %>
        </td>
        <th>期限</th>
        <td><%= f.date_field :deadline %></td>
      </tr>
      <tr>
        <th>入金日</th>
        <td><%= f.date_field :payment %></td>
        <th>件名</th>
        <td><%= f.select(:subject,[
               ["コンサルティング成果","コンサルティング成果"],
               ["コンサルティング初期費用","コンサルティング初期費用"],
               ["コンサルティング月額費用","コンサルティング月額費用"],
               ["キャリアコンサルティング費用","キャリアコンサルティング費用"],
               ["教育訓練休暇等制度実施費用","教育訓練休暇等制度実施費用"],
                ]) %></td>
      </tr>
      <tr>
        <th>商品名</th>
        <td><%= f.select(:subject,[
               ["コンサルティング成果（アップ）","コンサルティング成果（アップ）"],
               ["コンサルティング成果（セルフ）","コンサルティング成果（セルフ）"],
               ["コンサルティング成果（教育）","コンサルティング成果（教育）"],
               ["コンサルティング成果（職業）","コンサルティング成果（職業）"],
               ["コンサルティング初期費用（有期実習）","コンサルティング初期費用（有期実習）"],
               ["コンサルティング初期費用（アップ）","コンサルティング初期費用（アップ）"],
               ["コンサルティング月額費用","コンサルティング月額費用"],
               ["キャリアコンサルティング費用","キャリアコンサルティング費用"],
               ["教育訓練休暇等制度実施費用","教育訓練休暇等制度実施費用"],
                ]) %>
        </td>
        <th>販売価格</th>
        <td>￥<%= f.number_field :price %></td>
　  </tr>
　  <tr>
        <th>数量</th>
        <td><%= f.number_field :quantity %>個</td>
        <th></th>
        <td></td>
　  </tr>

	</tbody>    
</table>    
				<%= f.submit '登録', data: { confirm: '登録しますか？'}%>

<%end%>