<%= form_for @invoice do |f|%>

<table>
	<tbody>
		<tr>
			<th>会社名</th>
				<td><%=@invoice.company.company %></td>
				<th>代表者名</th>
				<td><%=@invoice.company.first_name %></td>
		 </tr>
			<tr>
				<th>郵便番号</th>
				<td><%=@invoice.company.postnumber %></td>
				<th>住所</th>
				<td><%=@invoice.company.address %></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><%=@invoice.company.tel %></td>
				<th>FAX番号</th>
				<td><%=@invoice.company.fax %></td>
			</tr>

	  <tr>
	    <th>ステータス</th>
        <td><%= f.select(:status,[
               ["入金前","入金前"],
               ["入金済","入金済"],
                ]) %>
        </td>
        <th>期限</th>
        <td><%= f.date_field :deadline %></td>
      </tr>
      <tr>
        <th>入金日</th>
        <td><%= f.date_field :payment %></td>
        <th>件名</th>
        <td><%= f.text_field :subject %></td>
      </tr>
	</tbody>
</table>

<table width = "90%" >
	<tbody>
      <tr>
        <th>商品名</th>
        <th>販売価格</th>
        <th>数量</th>
        <th>合計</th>
     </tr>
     <tr>
        <td><%= f.text_field :item1 %></td>
        <td><%= f.number_field :price1 %></td>
　    <td><%= f.number_field :quantity1 %></td>
        <td>#item+price+quantity1</td>
　  </tr>
     <tr>
        <td><%= f.text_field :item2 %></td>
        <td><%= f.number_field :price2 %></td>
　    <td><%= f.number_field :quantity2 %></td>
        <td>#item+price+quantity2</td>
　  </tr>
     <tr>
        <td><%= f.text_field :item3 %></td>
        <td><%= f.number_field :price3 %></td>
　    <td><%= f.number_field :quantity3 %></td>
        <td>#item+price+quantity3</td>
　  </tr>
     <tr>
        <td><%= f.text_field :item4 %></td>
        <td><%= f.number_field :price4 %></td>
　    <td><%= f.number_field :quantity4 %></td>
        <td>#item+price+quantity4</td>
　  </tr>
     <tr>
        <td><%= f.text_field :item5 %></td>
        <td><%= f.number_field :price5 %></td>
　    <td><%= f.number_field :quantity5 %></td>
        <td>#item+price+quantity5</td>
　  </tr>
	</tbody>
</table>
				<%= f.submit '登録', data: { confirm: '登録しますか？'}%>

<%end%>
