<div class="beige-wrapper">
 
   
            <div class="heading"><h2>請求書一覧</h2>
            <p>Invoice List    <%= link_to '(New regstration)', '/invoices/new' %></p></div>
            
            
      <table width="90%">
     	<tbody>
      		<tr>
        			<th>ステータス</th>
        			<th>編集/削除</th>
　  		</tr>
      		<tr>
      				<% @invoices.each do |invoice|%>
        	<td><%= link_to invoice.status, invoice_path(invoice)  %></td>
        	<td><%= link_to '編集', edit_invoice_path(invoice), class: 'command'%>
			            ｜ <%= link_to '削除', 
			            	invoice_path(invoice), 
			            	method: :delete, 
			            	class: 'command',
			            	data: { confirm: '本当に削除しますか？'} %>
			            ｜<%= link_to 'pdf', report_invoice_path(invoice, format: 'pdf') %>
			            	</td>

      		</tr>
      							<% end %>
        </tbody>
     </table> 
     

            

</div>