  <div class="beige-wrapper">
  
            <div class="heading"><h2>請求書詳細</h2>
            <p>Invoice Detail</p></div>
 
<table>
	<tbody>
	  <tr>
	    <th>会社名</th>
        <td></td>
        <th>代表者名</th>
        <td></td>
     </tr>
      <tr>
        <th>郵便番号</th>
        <td></td>
        <th>住所</th>
        <td></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td></td>
        <th>FAX番号</th>
        <td></td>
      </tr>
	</tbody>
</table> 
            
            </br> </br>
            
<table>
	<tbody>
	  <tr>
	    <th>ステータス</th>
        <td><%=@invoice.status %></td>
        <th>期限</th>
        <td><%= @invoice.deadline %></td>
      </tr>
      <tr>
        <th>入金日</th>
        <td><%= @invoice.payment %></td>
        <th>件名</th>
        <td><%= @invoice.subject %></td>
      </tr>
	</tbody>
</table>

<table>
	<tbody>
      <tr>
        <th>商品名</th>
        <th>販売価格</th>
        <th>数量</th>
        <th>合計</th>
     </tr>
     <tr>
        <td><%= @invoice.item1 %></td>
        <td><%= @invoice.price1 %></td>
　    <td><%= @invoice.quantity1 %></td>
        <td>#item+price+quantity1</td>
　  </tr>
     <tr>
        <td><%= @invoice.item2 %></td>
        <td><%= @invoice.price2 %></td>
　    <td><%= @invoice.quantity2 %></td>
        <td>#item+price+quantity2</td>
　  </tr>
     <tr>
        <td><%= @invoice.item3 %></td>
        <td><%= @invoice.price3 %></td>
　    <td><%= @invoice.quantity3 %></td>
        <td>#item+price+quantity3</td>
　  </tr>
     <tr>
        <td><%= @invoice.item4 %></td>
        <td><%= @invoice.price4 %></td>
　    <td><%= @invoice.quantity4 %></td>
        <td>#item+price+quantity4</td>
　  </tr>
     <tr>
        <td><%= @invoice.item5 %></td>
        <td><%= @invoice.price5 %></td>
　    <td><%= @invoice.quantity5 %></td>
        <td>#item+price+quantity5</td>
　  </tr>
	</tbody>    
</table>    


<%= link_to "PDF出力", invoice_path(@invoice, format: "pdf") %>


</div>
