
														  <!--　メイン　-->
														  
														  
  <div class="main-wrapper">
    	<div class="container" "shadow">
     			 <h1>業界初！IT技術で申請の見える化を実現！</h1></br>
     			 <h1>助成金申請で抜群の実績！</h1></br>
      			 <p>長期取引となる助成金申請だからこそ失敗したくない。</p>
      			 <p>時代の先を行く、当社を選ぶ７つのメリットをご紹介します。</p>
      			 </br></br></br>
 	 	</div>
  </div>

 
 
 	<div class="base-wrapper">									
 		<%= image_tag("ques.png", :class => "ques")%>
   </div>

 										<!--　こんなお悩みありませんか？　-->  										
     <div class="sub-wrapper">
  
            <div class="heading"><h2>Heisei 30 Subsidy</h2>
            <p>H30年弊社取り扱い助成金</p></div>

                <div class="product">
                    <div class="product-icon">
                             <h3>有期実習型訓練制度</h3>
                        <%= image_tag("ojt-offjt.png", :class=>"image")%>
                    </div>
                            <p class="text-contents">OJTとOFF-JTを効率的に行うことにより、約半年間に渡り、時給単位・その他研修に使用した経費が還元されます。</p>
               </div>
               
              <div class="product">
                    <div class="product-icon">
                             <h3>正社員化コース</h3>
                        <%= image_tag("up.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">有期雇用労働者を計画的にかつ、転換後の条件を満たして場合に一人につき最大７２万円が支給されます。</p>
               </div>
               
               <div class="product">
                    <div class="product-icon">
                             <h3>勤務間インターバルコース</h3>
                        <%= image_tag("clock.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">労務管理に関する仕組みの導入や、求人を行いたい場合に申請することにより、労務管理費・求人費用の最大50万円が還元されます。</p>
               </div>
               
                <div class="product">
                    <div class="product-icon">
                             <h3>その他キャリアアップ助成金</h3>
                        <%= image_tag("health.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">有期雇用労働者の健康診断の実施や、正規雇用労働者との給料格差を解消する事業所に対して、一定額の助成金が支給されます。</p>
               </div>
               
                              <div class="clear"></div>

  </div>
  					
 										

  <div class="base-wrapper">
  
            <div class="heading"><h2>Trouble Some</h2>
            <p>こんなお悩みありませんか？</p></div>
            
            <%= image_tag("trouble.jpg", :class => "image-left")%>

            <ul class="list">
                <li>どうせ助成金を貰うなら多くお金を残したい</li>
                <li>労務管理に問題があり、助成金を過去に受給出来なかった</li>
                <li>サービス業なので、そもそも労働時間が長く助成金に適しない</li>
                <li>助成金を代行して貰うのは進捗が分からず正直不安</li>
                <li>他の社労士で労務管理に問題があり断られた</li>
                <li>どの助成金が自社適応するのか分からない</li>
                <li>実績のある会社に任せたい</li>
             </ul>
  </div>
  

  
      <div class="base-wrapper">
  
  
  <%= image_tag("arrow.png", :width => "100%")%>

  
            <div class="heading"><h2>当社にお任せください！</h2>
            </div>

            <p>これまで助成金が不安、また受給出来なかった企業様も是非一度お問い合わせ下さい！</p>
            </br>

                <div class="five_column">
                        <div class="five_column-icon">
                                        <%= image_tag("analytics.png", :width => "180")%>
                                         <p>適正分析</br></br></br></br><br/><br/>analytics</p>
                        </div>
                </div>
                <div class="five_column">
                        <div class="five_column-icon">
                                        <%= image_tag("information.png", :width => "180")%>
                                         <p>申請案内</br></br></br></br><br/><br/>information</p>
                        </div>
                </div>
                <div class="five_column">
                        <div class="five_column-icon">
                                        <%= image_tag("submission.png", :width => "180")%>
                                         <p>提出サポート</br></br></br></br><br/><br/>submission</p>
                        </div>
                </div>
                <div class="five_column">
                        <div class="five_column-icon">
                                        <%= image_tag("support.png", :width => "180")%>
                                         <p>制度サポート</br></br></br></br><br/><br/>support</p>
                        </div>
                </div>
                <div class="five_column">
                        <div class="five_column-icon">
                                        <%= image_tag("supply.png", :width => "180")%>
                                         <p>支給申請</br></br></br></br><br/><br/>supply</p>
                        </div>
                </div>
                                 
                      <div class="clear"></div>
  </div>
  
  <div class="base-wrapper">


            <div class="heading"><h2>Seven Strong Point</h2>
            <p>弊社の７つの強み</p></div>
  
  
　 　<div class="merit-title">
              <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number" class="shadow">No.1</div>
                            <h2>業界唯一！ITシステムにより申請を完全見える化します！</h2>
                            <%= image_tag("efficiency.jpg", :class => "merit-image") %>
                    <div class="merit-contents">
                        <p>助成金申請は常に代行会社に任せているため特に新規取引の場合、本当に進んでいるのかの不安が常に付きまといます。当社も過去にお客様から多数の不安のお声を頂きました。ITコンサルも行う当社では、進捗の見える化に成功し、お客様が自身のIDでログインすることで、今どのような進捗状況で、いつ何をする必要があるのかをいつでも確かめて頂けるため、安心してお取引頂けます。</p>
                    </div>
        </div>  
        <div class="merit-title">
              <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number" class="shadow">No.2</div>
                            <h2>圧倒的な実績！取引先の９０％が申請難易度の高いサービス業！</h2>
                            <%= image_tag("good.jpg", :class => "merit-image") %>
                    <div class="merit-contents">
                        <p>助成金申請で一番高いハードルと言われているのは『労務管理』です。労務管理とは、雇用契約書・シフト表・賃金台帳・就業規則等の働く従業員を管理するものの総称となりますが、サービス業はお客様の入り状況によって残業が発生し、残業代の未払い等もあるため非常に申請が困難です。その中で当社では、取引先の殆どをサービス業が占めており、安心してご相談頂けます。</p>
                    </div>
        </div>
        <div class="merit-title">
               <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number" class="shadow">No.3</div>
                        <h2>コンサルティング会社ならではの労務管理が成功の鍵！</h2>
                            <%= image_tag("management.jpg", :class => "merit-image") %>
                    <div class="merit-contents">
                        <p>残業を現在支払っている企業様。その残業代、『実は支払う必要のない可能性』があります。残業の未払い等は、助成金申請で最もリスクとなりますが、当社では、ただ申請するだけではなく、労務コンサルティングをしっかり行った上で申請を進めて行きます。この点を重視して行うため、申請難易度の高い案件も承ることができます。</p>
                    </div>
        </div>
        <div class="merit-title">
               <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number" class="shadow">No.4</div>
                        <h2><span>３年で700件以上サポート！他社には負けない圧倒的な実績とノウハウ！</h2>
                           <%= image_tag("performance.jpg", :class => "merit-image") %>
                    <div class="merit-contents">
                        <p>当社では、IT化による業務効率化を計る事で、多くのお客様の受注を承ることが出来ます。また、多数の申請実績を持っている事もあり、申請に関するお問い合わせや申請のサポートについても安心してお任せいただけます。</p>
                    </div>
        </div>
        <div class="merit-title">
               <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number" class="shadow">No.5</div>
                        <h2>顔が見えないからこそ安心を！完全後払いシステム採用！</h2>
                            <%= image_tag("price.jpg", :class => "merit-image") %>
                    <div class="merit-contents">
                        <p>当社では、対面でのご案内は行っておりません。信用をして先にお支払い頂く事は不安な点が多いと考え、完全後払い制度を導入しております。これは一つの申請が完了し、その申請の証明を持ってお客様にお支払いを頂く仕組みとなります。これにより、常に不安がなく、安心してお取引いただけます。（※完全成果報酬とは異なります。）</p>
                    </div>
        </div>
        <div class="merit-title">
               <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number" class="shadow">No.6</div>
                        <h2>全国対応！４７都道府県どこでもしっかりサポート！</h2>
                            <%= image_tag("47.png", :class => "merit-image") %>
                    <div class="merit-contents">
                        <p>弊社では対面がなくとも申請出来るメリットを最大限活かし、北は北海道から、南は沖縄まで、４７都道府県全ての助成金を承ります。申請方法は都道府県毎に変わる場合がありますが、弊社が徹底サポート致します。</p>
                    </div>
        </div>
        <div class="merit-title">
               <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number" class="shadow">No.7</div>
                        <h2>最大実質０円プランも？コンサルティングメリットをフル活用！</h2>
                            <%= image_tag("0.jpg", :class => "merit-image") %>
                    <div class="merit-contents">
                        <p>当社を選択頂くメリットとして、『最終受給率の高さ』があります。申請内容や条件にもよりますが、コンサルティング会社の特性を活かし、助成金を還元出来る仕組みを保有しているため、後からお金が返って来て、実質０円での申請が可能な場合もあります。</p>
                    </div>
        </div>
 </div>



 	<div class="sub-wrapper">									
 		<%= image_tag("ques.png", :class => "ques")%>
   </div>



     <div class="base-wrapper">
  
            <div class="heading"><h2>Consultation</h2>
            </br></br>
           <h3><span>まずはご相談下さい！以下内容を全て無料でご案内します！</span></h3></div>
    
                <%= image_tag("talk.jpg", :class => "image-left")%>

            <ul class="list">
                <li>御社が助成金自体を受給出来るか条件チェックを行います</li>
                <li>受給可能な助成金を実施方法まで丁寧にご紹介します</li>
                <li>申請してからから支給されるまでの一連の流れをご案内</li>
                <li>対象従業員の労務実績を確認し、現状のままで申請可能か確認</li>
                <li>貴社の就業状況を確認し、申請にあたり再構築が必要な場合の助言</li>
                <li>※HP等で会社紹介が出来ない場合、ご案内の受付致しかねる場合が御座います。</li>

             </ul>
              <div class="heading">
           <h3><span>※現在お問い合わせが殺到しております。電話商談迄１週間程お時間を頂いております。</span></h3></div>

             
            
    </div>

 	<div class="sub-wrapper">									
 		<div class="heading"><h2>Inquiry</h2>
 		</br></br>
        <h3><span>※現在多数お申込みを頂戴しており、毎月２０社様迄の受付とさせて頂いております。</span></h3></div>
        
        
<table>
            			<colgroup>
            			<col width="40%">
            			<col width="60%">
       			　 </colgroup>
    <tr>
      <th>名前（必須）</th>
      <td></td>
    </tr>
    <tr>
      <th>メールアドレス（必須）</th>
      <td></td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td></td>
    </tr>
  </table>
</div>
        
        
   </div>


  
  
                                                    <!--　以下フッター　-->
  <footer>
  									    <p>申請料・顧問料無料なら助成金サポート.jp</p>
  </footer>
  
  
                                            <!--　ジャバスクリプト読み込み　-->
					<script src="script.js"></script>
			</body>
</html>