  <div class="beige-wrapper">
  
            <div class="heading"><h2>労働局情報一覧</h2>
            <p>Prefecture List    <%= link_to '(New regstration)', '/prefectures/new' %></p></div>
    
    <table width = "90%">
     <tbody>
      <tr>
               <th>労働局</th>
			   <th>最低賃金</th>
               <th>編集/削除</th>
　  </tr>
      <tr>
      <% @prefectures.each do |prefecture|%>
        <td><%= link_to prefecture.labor, prefecture_path(prefecture) %></td>
        <td><%= prefecture.method%></td>
        <td><%= link_to '編集', edit_prefecture_path(prefecture), class: 'command'%>
			            ｜ <%= link_to '削除', 
			            	prefecture_path(prefecture), 
			            	method: :delete, 
			            	class: 'command',
			            	data: { confirm: '本当に削除しますか？'} %></td>
      </tr>
      <% end %>
      </tbody>
    </table> 



 </div>
