  <div class="beige-wrapper">
  
              <div class="heading"><h2>労働局詳細</h2>
            <p>Prefecture detail</p></div>
            

<table width ="90%">
	<tbody>
		<tr>
			<th>労働局名</th>
			<th>最低賃金（過去賃金）</th>
		</tr>
		<tr>
			<td><%= @prefecture.labor%></td>
			<td><%= @prefecture.method%></td>
		</tr>
	</tbody>
</table>

</br>
</br>

<table width ="90%">
<% if @prefecture.details.any? %>
	<tbody>
		<tr>
			<th>助成金名</th>
			<th>提出方法</th>
			<th>電話番号</th>
			<th>郵便番号</th>
			<th>住所</th>
			<th>ポイント</th>
			<th>削除</th>
		</tr>
		<%  @prefecture.details.each do |detail|  %>
		<tr>
			<td><%= detail.product_type %></td>
			<td><%= detail.method%></td>
			<td><%= detail.tel%></td>
			<td><%= detail.post%></td>
			<td><%= detail.address%></td>
			<td><%= detail.point%></td>
			<td><%= link_to '削除', 
			            	prefecture_detail_path(@prefecture, detail), 
			            	method: :delete, 
			            	class: 'command',
			            	data: { confirm: '本当に削除しますか？'} %></td>
			            
     		</tr>
		<%end%>
	</tbody>
</table>
<%end%>
</div>







<%= form_for ([@prefecture, @prefecture.details.build]) do |f| %>
<table width ="90%">
	<tbody>
		<tr>
			<th>助成金名</th>
			<th>提出方法</th>
			<th>電話番号</th>
			<th>郵便番号</th>
			<th>住所</th>
			<th>ポイント</th>
		</tr>
		<tr>
			   <td><%= f.select(:product_type,[
               ["キャリアアップ助成金","キャリアアップ助成金"],
               ["キャリア形成促進助成金","キャリア形成促進助成金"],
               ["人材開発支援等助成金","人材開発支援等助成金"],
               ["有期実習型訓練","有期実習型訓練"],
               ["勤務間インターバル","勤務間インターバル"],
                ]) %></td>
			   <td><%= f.select(:method,[
               ["窓口","窓口"],
               ["郵送","郵送"],
               ]) %></td> 			   
			   <td><%= f.text_field :tel %></td>
			   <td><%= f.text_field:post %></td>
		       <td><%= f.text_area :address %></td>
			<td><%= f.text_area :point %></td>
        </tr>
			<td colspan="5">   <%= f.submit %>  </td>
</table>


<% end %>


		</tr>
	</tbody>
</table>


