
														  <!--　メイン　-->

  <div class="main-wrapper">
     			 <h1>IT技術で申請の見える化を実現！</br>
     			 助成金申請で抜群の実績！</h1></br>
      			 <p>長期取引となる助成金申請だからこそ失敗したくない。</br>
      			 キャリアアップ助成金を選ぶなら助成金サポート.jp</p>
      			 </br>
 	 	</div>
  </div>

 	<div class="base-wrapper">
 		<%= image_tag("ques.png", :class => "ques")%>
   </div>


  <div class="sub-wrapper">

            <div class="heading"><h2>Trouble Some</h2>
            <p>こんなお悩みありませんか？</p></div>

            <%= image_tag("trouble.jpg", :class => "image-left")%>

            <ul class="list">
                <li>どうせ助成金を貰うなら多くお金を残したい</li>
                <li>労務管理に問題があり、助成金を過去に受給出来なかった</li>
                <li>サービス業なので、そもそも労働時間が長く助成金に適しない</li>
                <li>助成金を代行して貰うのは進捗が分からず正直不安</li>
                <li>他の社労士で労務管理に問題があり断られた</li>
                <li>どの助成金が自社適応するのか分からない</li>
                <li>実績のある会社に任せたい</li>
             </ul>
  </div>


      <div class="base-wrapper">
              <div class="heading"><h2>当社にお任せください！</h2>
            </div>

            <p>これまで助成金が不安、また受給出来なかった企業様も是非一度お問い合わせ下さい！</p>
            </br>

                <div class="five_column">
                                        <%= image_tag("analytics.png", :width => "180")%>
                                         <p>適正分析</br></br></br></br>analytics</p>
                </div>
                <div class="five_column">
                                        <%= image_tag("information.png", :width => "180")%>
                                         <p>申請案内</br></br></br></br>information</p>
                </div>
                <div class="five_column">
                                        <%= image_tag("submission.png", :width => "180")%>
                                         <p>提出サポート</br></br></br></br>submission</p>
                </div>
                <div class="five_column">
                                        <%= image_tag("support.png", :width => "180")%>
                                         <p>制度サポート</br></br></br></br>support</p>
                </div>
                <div class="five_column">
                                        <%= image_tag("supply.png", :width => "180")%>
                                         <p>支給申請</br></br></br></br>supply</p>
                </div>

                      <div class="clear"></div>
  </div>

  <div class="sub-wrapper">


            <div class="heading"><h2>Five Strong Point</h2>
            <p>弊社の５つの強み</p></div>


　 　<div class="merit-title">
              <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number">No.1</div>
                            <h2>業界唯一！ITシステムにより申請を完全見える化します！</h2>
                            <%= image_tag("efficiency.jpg", :class => "merit-image") %>
                        <p>助成金申請は常に代行会社に任せているため特に新規取引の場合、本当に進んでいるのかの不安が常に付きまといます。当社も過去にお客様から多数の不安のお声を頂きました。ITコンサルも行う当社では、進捗の見える化に成功し、お客様が自身のIDでログインすることで、今どのような進捗状況で、いつ何をする必要があるのかをいつでも確かめて頂けるため、安心してお取引頂けます。</p>
        </div>
        <div class="merit-title">
              <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number">No.2</div>
                            <h2>圧倒的な実績！取引先の９０％が申請難易度の高いサービス業！</h2>
                            <%= image_tag("good.jpg", :class => "merit-image") %>
                        <p>助成金申請で一番高いハードルと言われているのは『労務管理』です。労務管理とは、雇用契約書・シフト表・賃金台帳・就業規則等の働く従業員を管理するものの総称となりますが、サービス業はお客様の入り状況によって残業が発生し、残業代の未払い等もあるため非常に申請が困難です。その中で当社では、取引先の殆どをサービス業が占めており、安心してご相談頂けます。</p>
        </div>
        <div class="merit-title">
               <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number">No.3</div>
                        <h2>コンサルティング会社ならではの労務管理が成功の鍵！</h2>
                            <%= image_tag("management.jpg", :class => "merit-image") %>
                        <p>残業を現在支払っている企業様。その残業代、『実は支払う必要のない可能性』があります。残業の未払い等は、助成金申請で最もリスクとなりますが、当社では、ただ申請するだけではなく、労務コンサルティングをしっかり行った上で申請を進めて行きます。この点を重視して行うため、申請難易度の高い案件も承ることができます。</p>
        </div>
        <div class="merit-title">
               <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number">No.4</div>
                        <h2><span>３年で700件以上サポート！他社には負けない圧倒的な実績とノウハウ！</h2>
                           <%= image_tag("performance.jpg", :class => "merit-image") %>
                        <p>当社では、IT化による業務効率化を計る事で、多くのお客様の受注を承ることが出来ます。また、多数の申請実績を持っている事もあり、申請に関するお問い合わせや申請のサポートについても安心してお任せいただけます。</p>
        </div>
        <div class="merit-title">
               <%= image_tag("gizagiza.png", :class => "gizagiza") %>
                    <div class="number">No.5</div>
                        <h2>顔が見えないからこそ安心を！完全後払いシステム採用！</h2>
                            <%= image_tag("price.jpg", :class => "merit-image") %>
                        <p>当社では、対面でのご案内は行っておりません。信用をして先にお支払い頂く事は不安な点が多いと考え、完全後払い制度を導入しております。これは一つの申請が完了し、その申請の証明を持ってお客様にお支払いを頂く仕組みとなります。これにより、常に不安がなく、安心してお取引いただけます。（※完全成果報酬とは異なります。）</p>
        </div>
 </div>



 	<div class="base-wrapper">
 		<%= image_tag("ques.png", :class => "ques")%>
   </div>



     <div class="sub-wrapper">

            <div class="heading"><h2>Past Record</h2>
            <p>過去の実績</p></div>

                <%= false ? image_tag("record.png", :class => "record_image") : ""%>

        <div class="heading">
            <h3>助成金サポート.jpでは過去３年間に約７００以上の申請実績!!</h3>
　　　 <p>過去３年間で豊富な申請実績を保有し、各都道府県の独自の情報を保有しています。</p>
        </div>
    </div>


         <div class="base-wrapper">

            <div class="heading"><h2>Carrier Up Price</h2>
            <p>キャリアアップ助成金の申請料金</p></div>

            <table width="80%">
        			<colgroup>
            			<col width="25%">
            			<col width="75%">
       			　 </colgroup>
	<tr>
		<th>着手金</th>
		<td class="more-strong">無料</td>
	</tr>
	<tr>
		<th>計画受理後</th>
		<td class="more-strong">70,000円〜（詳細をお問い合わせ下さい）</td>
	</tr>
	<tr>
		<th>成果報酬</th>
		<td class="more-strong">25%→20%（詳細はお問い合わせ下さい）</td>
	</tr>
	<tr>
		<th>就業規則</th>
		<td class="more-strong">無料</td>
	</tr>
</table>
        </div>



         <div class="sub-wrapper">

            <div class="heading"><h2>Subsidy Flow</h2>
            <p>助成金申請の流れ</p></div>

                <div class="two_column">
                                        <%= false ? image_tag("square.png", :class => "base-square") : ""%>
                                        <h3>❶申し込みフォームを入力し送信</h3>
                                        <%= false ? image_tag("form.jpg", :class => "over-image") : ""%>
                </div>
                <div class="two_column">
                                        <%= false ? image_tag("square.png", :class => "base-square") : ""%>
                                        <h3>❷当社から送付した書類に署名押印</h3>
                                        <%= false ? image_tag("seal.jpg", :class => "over-image") : ""%>
                </div>
                <div class="two_column">
                                        <%= false ? image_tag("square.png", :class => "base-square") : ""%>
                                        <h3>❸正社員に転換し半年間経過を待つ</h3>
                                        <%= image_tag("worker.jpg", :class => "over-image")%>
                </div>
                <div class="two_column">
                                        <%= false ? image_tag("square.png", :class => "base-square") : ""%>
                                        <h3>❹半年後、支給申請の手続きを行う</h3>
                                        <%= false ? image_tag("money2.jpg", :class => "over-image") : ""%>
                </div>

                                      <div class="clear"></div>

        </div>




         <div class="base-wrapper">

            <div class="heading"><h2>Nationwide Correspondence</h2>
            <p>全国47都道府県対応</p></div>
                <div class="side">
                    <%= false ? image_tag("japan.jpg", :class => "image-left") : ""%>
                    <p>東京・名古屋・大阪・福岡・仙台の主要都市はもちろんの事、北は北海道から南は沖縄まで全国47都道府県どこでも助成金申請サポートを受け付けしております。</p>
                </div>
            </div>

        </div>





         <div class="sub-wrapper">

            <div class="heading"><h2>Free Consultation</h2>
            <p>無料相談のご案内</p>
            </br></br>
            </div>

        <p>商品内容や内容についてご質問が御座いましたら以下迄お気軽にお問い合わせ下さい。</p>
        <%= image_tag("ques.png", :class => "ques")%>
        </div>


                                                    <!--　以下フッター　-->
  <footer>
  									    <p>着手金無料・顧問料無料なら助成金サポート.jp</p>
  </footer>


                                            <!--　ジャバスクリプト読み込み　-->
					<script src="script.js"></script>
			</body>
</html>
