<%= form_for @faq do |f|%>

    <table>
     <tbody>
      <tr>
        <th>タイトル</th>
        <th>選択</th>
        <th>コンテンツ</th>
　  </tr>
　  <tr>
        <td><%= f.text_field :title %></td>
        <td><%= f.select(:select,[
               ["キャリアアップ助成金について","キャリアアップ助成金について"],
               ["キャリア形成促進助成金について","キャリア形成促進助成金について"],
               ["人材開発支援等助成金について","人材開発支援等助成金について"],
               ["記載方法について","記載方法について"],
               ["企業内人材開発推進助成金について","企業内人材開発推進助成金について"],
                ]) %></td>
        <td><%= f.text_area :contents %></td>
　  </tr>
        <tr>
			<td colspan="3"> 
				<%= f.submit '登録', data: { confirm: '登録しますか？'}%>
			</td>
		</tr>
	</tbody>
 </table>
<%end%>