<div id="wrapper">

    <div id="todos-left">
        <ul>
            <li>計画書作成</li>
            <li>制度案内</li>
            <li>支給申請</li>
            <li>キャリアアップ助成金</li>
            <li>キャリア形成促進助成金</li>
            <li>人材開発支援等助成金</li>
        </ul>
    </div>

    <div id="todos-center">
        <div class="heading">
            <h2>新規FAQ登録</h2>
            <p>
                <%= form_for @faq do |f|%>
                    <%= f.text_field :title %>
                    <%= f.submit '登録', data: { confirm: '登録しますか？'}%>
                <%end%>
            </p>
        </div>

        <ul>
            <% @faqs.each do |faq|%>
            <li class="box"><%= faq.title  %>
                                    <%= link_to '削除', 
			            	            faq_path(faq), 
			            	            method: :delete, 
			            	            class: 'command',
			            	            data: { confirm: '本当に削除しますか？'} %></li>
            <% end %>
        </ul>
   </div>

</div>

    <div id="todos-right">
    </div>


