  <div class="beige-wrapper">

            <div class="heading"><h2>契約約款</h2>
            <p>※約款を必ずお読みの上、お申し込み下さい。</p></div>
      
  
<div class="infobox">
貴社（甲という。）と、株式会社Crold　Valieat（以下、「乙」という。）とは、次のとおり約款に基づき（以下、「本件契約」という。）を締結する。
</br></br>
第１条（目的）
</br>
甲は、乙に対し、助成金に関するコンサルティング業務（以下、「本件業務」という。）を委託し、乙はこれを受託することとする。
</br></br>
第２条（信義則）
</br>
甲及び乙は、誠意を持って甲乙互いの利益を最大化するよう努めることとする。
</br></br>
第３条（代金後払）
</br>
１．本件業務の委託代金は、後払いサービスPaidに委託するものとする。契約後、甲は後払いサービスPaidからの電話に対応するものとし、内容の同意を行う。
</br>
2. 本件業務は本来乙が初期費用で徴収するべき費用を後払いにしている。そのため、甲の都合によりいかなる理由があろうとも、費用の値引き交渉や支払いの延滞、未納等は行わないものとする。
</br>
3. 本件業務の遂行途中、甲の都合により進行が停止したり、申請が不可能な事由が起きた場合にも費用の一切を徴収するものとする。
</br></br>
第４条（協力）
</br>
１．甲は、本件業務遂行のため、乙から要請があった事象につき、速やかに対応することとする。
</br>
２．甲は、前項のほか、労働局から提出書類等の要請があった場合、速やかに乙に報告し、乙の指示に従い、対応することとする。
</br>
３．甲は、労働局窓口担当者毎により提出資料に相違がある事を理解し、それに対する一切のクレームは行わないものとする。
</br>
４．乙が依頼した内容について、甲が応答しないもしくは応答や返送が一定期間ない、もしくは申請条件を逸脱した行為が発覚した場合、それが原因となり助成金の不認定が発生した場合、甲は書類の証明や連絡の証明を持って、初期費用の返金を一切行わないものとする。
</br>
５．助成金申請が何らかの理由で再申請が必要となり、甲の事由が要因において、再申請を希望する場合、別途３００００円/助成金あたりを請求するものとする。
</br>
６．法人：申請する助成金により登記簿謄本、就業規則、雇用契約書、出勤簿、賃金台帳が必要となる。また、登記簿謄本が実際の事業との相違や、ハローワーク届出住所と相違ある場合、迅速に変更を行うものとする。
</br>
７．個人：申請する助成金により開業届（事業所と一致するもの）就業規則、雇用契約書、出勤簿、賃金台帳の他、証明のいずれか（事業と一致する開業届、特定業務の場合の証明書、直近の青色申告書、屋号と事業所が記載される２ヶ月以内の公共料金の証明）が必要となる。また、屋号の証明と実態の事業との相違や、ハローワーク届出住所と相違ある場合、迅速に変更を行うものとする。
</br></br>
第５条（返金規定）
</br>
1.甲が乙の指示に従い、乙が労働局に申請したにもかかわらず労働局から認定を受けることができなかった場合、乙は、甲に対し、既に受け取っている初期費用を返金することとする。尚、甲都合で申請を取り消す場合や、乙が確認し得ない事項に基づき認定が降りない場合、その他第６条（免責）に該当する場合、返金しないものとする。
</br>
2.成果報酬が降りない場合についての初期費用の返金については行わないものとする。
</br>
3.契約締結後、７日間を過ぎての人数変更による返金並びに制度申請の撤回については受け付けないものとする。
</br></br>
第６条（免責）
</br>
以下の場合、乙はその責任及び甲からの賠償請求を免れることとする。
</br>
①　乙の帰責によらない事象により申請の認定が得られない場合
</br>
②　契約日より10日以上応答がない場合
</br>
③　第１１条各号の事象が生じた場合
</br>
④　保険への加入等法律上の義務をまっとうしていなかった場合
</br>
⑤　労働保険又は雇用保険等保険料の未払いがあった場合
</br>
⑥　労働基準法に違反している場合
</br>
⑦　認定がおりたにも関わらず、支給申請がおりない場合
</br>
⑧　乙の知ることのできない事情により受給できない場合
</br>
⑨　申請に関する条件を満たせなかった場合
</br>
⑩　必要とされる労務管理表が存在しない場合
</br></br>
第７条（成果の定義）
</br>
第１５条にて選択した助成金にかかる労働局への支給申請に対する「受給」を受けることを「成果」と定義し、当該成果の発生と同時に甲の乙に対する成果報酬の支払い義務が発生することとする。但し、以下の場合にその限りではない。
</br>
・労働基準法に違反していた場合
</br>
・支給申請に間に合わなかった場合
</br>
・不正受給申告により受給出来なかった場合
</br>
・支給申請時期に事業を運営できる状態ではない場合
</br>
・受給対象時期に事業を運営できる状態ではない場合
</br>
・必要とされる労務管理表が存在しない場合
</br></br>
第８条（実施確認）
</br>
助成金は制度を実施する対価として支給を行うものであり、制度を実施していない又は条件を満たしておらず、労働局から返金を求められた場合、乙は労働局に対し、返金をするものとし、乙に支払い分の返金は求めないものとする。尚、受給前の段階で判明し受給できなかった場合、成果報酬に相当する額を請求するものとする。
</br></br>
第９条（虚偽事実）
</br>
1.助成金は事実を元に申請を行うものであり、虚偽に関わる相談・報告と見受けられる事実が発覚した場合、乙の判断により申請代行や契約書に関わる一切の業務を強制的に破棄する事ができる。第６条及び第８条に基づき甲に過失がある場合、一切の返金は行わないものとする。
</br></br>
第１０条（絶対受給保証の不可）
</br>
甲は、助成金を申請するにあたって１００％受給を保証するものではない事を理解して契約を締結する。受給不可能な場合も乙へのクレーム・その他金銭の要求の一切は行わないものとする。
</br></br>
第１１条（報告）
</br>
甲は、労働局から受理及び認定通知書が届いた場合、速やかに乙に対しメール又はFAXにて情報を共有することとする。
</br></br>
第１２条（機密保持）
</br>
甲及び乙は、本件契約に関して知り得た相手方の営業上及び技術上の機密を本件契約内容遂行の目的以外に、第三者に漏洩又は利用してはならないものとする。これは本件契約終了後5年間も同様とする。
</br></br>
第１３条（損害賠償）
</br>
甲又は乙が、本件契約の履行に関し、甲又は乙の責に帰すべき事由により他の当事者に損害を与えた場合、他の当事者に与えた損害を賠償することとする。
</br></br>
第１４条（期限の利益喪失）
</br>
甲が以下の各号のいずれかに該当したときは、甲は当然に本件契約及びその他乙との間で締結した契約から生じる一切の債務について期限の利益を失い、甲は乙に対して、甲が負担する一切の債務を直ちに一括して弁済しなければならない。
</br>
①　本件契約の条項に違反したとき
</br>
②　監督官庁から営業停止又は営業免許もしくは営業登録の取消の処分を受けたとき
</br>
③　差押、仮差押、仮処分、強制執行、担保権の実行としての競売、租税滞納処分又はこれらに準じる手続が開始されたとき
</br>
④　破産、民事再生、会社更生又は特別清算の手続開始決定等の申立がなされたとき
</br>
⑤　自ら振り出し又は引き受けた手形もしくは小切手が一度でも不渡になったとき、又は支払停止状態に陥ったとき
</br>
⑥　その他財産状態が悪化し、又はその恐れがあると認められる相当の事由があるとき
</br>
⑦　甲乙間で、著しく信頼関係が悪化する恐れがあると認められたとき
</br></br>
第１５条（契約の解除）
</br>
1.乙は、甲が前条各号のいずれかに該当した場合、何らの催告なくして直ちに本件契約の全部又は一部を解除することができる。なお、この契約解除は損害賠償の請求を妨げない。
</br>
2.過度なクレームが発生した場合、乙は契約を該当日を持って強制的に破棄する権利を有する。その場合について、甲は費用返金を一切求めないものとする。
</br></br>
第１６条（契約期間）
</br>
契約期間は、本件契約の日から本件契約に定める成果報酬支払い完了までとし、その後の契約の更新に関しては、甲乙相談のうえ、決定することとする。
</br></br>
第１７条（準拠法、合意管轄）
</br>
本件契約の準拠法は日本法とする。本件契約から発生する一切の紛争について訴訟の必要を生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とする。
</br></br>
第１８条（解約条件）
</br>
⑴申込み後、甲の一方的なキャンセルの場合にはいかなる理由があろうとも違約金を徴収する。
</br>
①申請までの間　支払予定全額の３０％
</br>
②申請受理後　　支払予定全額の４０％
</br>
③認定後　　　　支払予定全額の６０％
</br>
④制度開始後　　支払予定全額の８０％
</br>
⑤支給申請後　　支払予定全額の１００％
</br>
⑥支給申請後連絡不通等　支払予定全額の２００％
</br>
⑦事業主都合の従業員解雇　支払予定全額の８０％
</br>
⑧会社の倒産　　　　　　　支払予定全額の８０％
</br>
⑨その他乙都合の事由　　　支払予定全額の８０％
</br>
⑩書類未返送による申請不可　支払予定全額の１００％
</br>
⑵甲は、従業員退職により助成金申請が出来ない場合、前払い割引額の１０００００円を支払うものとする。
</br>
尚、従業員が３ヶ月以内に入社する見込みがある場合のみ⑵の対象とし、入社予定がない場合、⑴の進捗に応じた費用を徴収する。⑵の場合、従業員が再度入社し、支給申請まで進む場合、前払い分の差額は支給申請から差し引くものとする。
</br></br>
第１９条（悪質対応）
</br>
甲は、互いを尊重し、適切な対応を心がけるものとするが、万一乙の業務を著しく妨害したり、暴言、脅迫、契約書に基づき締結している内容や違約金に関する件での過度なクレームが起きた場合、乙は契約を一方的に解除できるものとする。この場合、乙は甲に契約書に定める解約条件を適応できるものとする。
</br></br>
第２０条（法的違反）
</br>
甲は、申請にあたり事業運営をする上での法律や義務を厳守の上、乙と締結することとする。以下に違反している場合について、乙は一切の責任を負わないものとする。
</br>
⑴労働基準法違反
</br>
⑵最低賃金法違反
</br>
⑶シフト表の作成義務
</br>
⑷賃金台帳の作成義務
</br>
</div>


  <div class="base-wrapper">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


            <div class="heading"><h2>事業所登録</h2>
            <p>会社情報を入力して下さい。</p></div>
<table>
        			<colgroup>
            			<col width="40%">
            			<col width="60%">
       			　 </colgroup>
        		<tr>
					<th>会社名<span class="label label-blue">必須</span></br>
									<small>例）株式会社Crold Valieat</small></th>
					<td><%= text_field :company, :company %></td>
				</tr>
				<tr>
					<th>代表者姓<span class="label label-blue">必須</span></br>
									<small>例）奥山</small></th>
					<td><%= text_field :company, :first_name %></td>
				</tr>
				<tr>
					<th>代表者名<span class="label label-blue">必須</span></br>
									<small>例）健太</small></th>
					<td><%= text_field :company, :last_name %></td>
				</tr>
				<tr>
					<th>ミョウジ<span class="label label-blue">必須</span></br>
									<small>例）オクヤマ</small></th>
					<td><%= text_field :company, :first_kana%></td>
				</tr>
				<tr>
					<th>ナマエ<span class="label label-blue">必須</span></br>
									<small>例）ケンタ</small></th>
					<td><%= text_field :company, :last_kana%></td>
				</tr>
				<tr>
					<th>電話番号<span class="label label-blue">必須</span></br>
									<small>例）03-6712-7837</small></th>
					<td><%= telephone_field :company, :tel%></td>
				</tr>
				<tr>
					<th>電話番号<span class="label label-blue">必須</span></br>
									<small>例）03-6712-7837</small></th>
					<td><%= telephone_field :company, :mobile%></td>
				</tr>
				<tr>
					<th>FAX番号<span class="label label-blue">必須</span></br>
									<small>例）03-6712-7838</small></th>
					<td><%= telephone_field :company, :fax%></td>
				</tr>
				<tr>
					<th>メールアドレス<span class="label label-blue">必須</span></br>
									<small>例）adp@crold-valieat.jp</small></th>
					<td><%= email_field :company, :e_mail%></td>
				</tr>
				<tr>
					<th>郵便番号<span class="label label-blue">必須</span></br>
									<small>例）1500032</small></th>
					<td><%= number_field :company, :postnumber%></td>
				</tr>
				<tr>
					<th>都道府県<span class="label label-blue">必須</span></br>
									<small>例）東京都</small></th>
					<td><%= text_field :company, :prefecture %></td>
				</tr>
				<tr>
					<th>市区町村<span class="label label-blue">必須</span></br>
									<small>例）渋谷区鴬谷町</small></th>
					<td><%= text_field :company, :city %></td>
				</tr>
				<tr>
					<th>市区町村以降<span class="label label-blue">必須</span></br>
									<small>例）19-19第三叶ビル303</small></th>
					<td><%= text_field :company, :town %></td>
				</tr>
				<tr>
					<th>資本金<span class="label label-blue">必須</span></br>
									<small>例）270万円</small></th>
					<td><%= number_field :company, :caption%>万円</td>
				</tr>
				<tr>
					<th>労働保険番号<span class="label label-blue">必須</span></br>
									<small>例）1111-111111-111</small></th>
					<td><%= number_field :company, :labor_number%></td>
				</tr>
				<tr>
					<th>雇用保険番号<span class="label label-blue">必須</span></br>
									<small>例）1111-111111-1</small></th>
					<td><%= number_field :company, :employment_number%></td>
				</tr>
			</table>

</div>
	




  <div class="beige-wrapper">
  
            <div class="heading"><h2>就業規則</h2>
            <p>就業情報を入力して下さい。</p></div>


			<table>
        			<colgroup>
            			<col width="40%">
            			<col width="60%">
       			　 </colgroup>
        		<tr>
					<th>試用期間<span class="label label-blue">必須</span></br>
									<small>例）３ヶ月</small></th>
					<td><%= text_field :employment, :trial_period%></td>
				</tr>
				<tr>
					<th>勤務開始時間<span class="label label-blue">必須</span></br>
									<small>例）１０時００分</small></th>
					<td><%= time_field :employment, :work_start%></td>
				</tr>
				<tr>
					<th>休憩開始時間<span class="label label-blue">必須</span></br>
									<small>例）１２時００分</small></th>
					<td><%= time_field :employment, :break_in%></td>
				</tr>
				<tr>
					<th>休憩終了時間<span class="label label-blue">必須</span></br>
									<small>例）１３時００分</small></th>
					<td><%= time_field :employment, :break_out %></td>
				</tr>
				<tr>
					<th>勤務終了時間<span class="label label-blue">必須</span></br>
									<small>例）１９時００分</small></th>
					<td><%= time_field :employment, :work_out%></td>
				</tr>
				<tr>
					<th>休日<span class="label label-blue">必須</span></br>
									<small>例）火曜日</small></th>
					<td><%= text_field :employment, :holiday%></td>
				</tr>
				<tr>
					<th>手当<span class="label label-blue">必須</span></br>
									<small>例）売上歩合</small></th>
					<td><%= text_field :employment, :allowance%></td>
				</tr>
				<tr>
					<th>手当詳細<span class="label label-blue">必須</span></br>
									<small>例）売上の５％</small></th>
					<td><%= text_field :employment, :allowance_contents%></td>
				</tr>
				<tr>
					<th>締め日<span class="label label-blue">必須</span></br>
									<small>例）31日</small></th>
					<td><%= text_field :employment, :closing_on%>日</td>
				</tr>
				<tr>
					<th>支払い日<span class="label label-blue">必須</span></br>
									<small>例）5日</small></th>
					<td><%= text_field :employment, :payment_on%>日</td>
				</tr>
				<tr>
					<th>支払方法<span class="label label-blue">必須</span></br>
									<small>例）銀行振込</small></th>
					<td><%= text_field :employment, :method_payment %>日</td>
				</tr>
				<tr>
					<th>控除<span class="label label-blue">必須</span></br>
									<small>例）雇用保険・厚生年金・健康保険・源泉徴収</small></th>
					<td><%= radio_button :employment, :desuction,'雇用保険'%>雇用保険
							<%= radio_button :employment, :desuction,'厚生年金'%>厚生年金
							<%= radio_button :employment, :desuction,'健康保険'%>健康保険
							<%= radio_button :employment, :desuction,'介護保険'%>介護保険
							<%= radio_button :employment, :desuction,'源泉徴収'%>源泉徴収
							<%= radio_button :employment, :desuction,'住民税'%>住民税
					</td>
				</tr>
			</table>

</div>

  <div class="green-wrapper">

            <div class="heading"><h2>ログイン情報</h2>
            <p>ID/PASSを入力して下さい。</p></div>
		

			<table>
        			<colgroup>
            			<col width="40%">
            			<col width="60%">
       			　 </colgroup>
        		<tr>
					<th>ログインアドレス<span class="label label-blue">必須</span></br>
									<small>aaa@crold-valieat.jp</small></th>
					<td> <%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
				</tr>		
        		<tr>
					<th>パスワード<span class="label label-blue">必須</span></br>
									<small>*******</small></th>
					<td><% if @minimum_password_length %>
   						 	<% end %>
    						<%= f.password_field :password, autocomplete: "off" %></td>
				</tr>	
				<tr>
					<th>パスワード<span class="label label-blue">必須</span></br>
									<small>******</small></th>
					<td><%= f.password_field :password_confirmation, autocomplete: "off" %>
					</td>
				</tr>	
				<tr>
									<th colspan="2"><%= f.submit "同意して登録" %></th>
				</tr>	
            </table>
<% end %>
