<div  class="heading"><h2>見込リスト一覧</h2></div>
          <table width ="90%">

                <tr>
                  <th>会社名</th>
                  <th>電話番号</th>
                  <th>担当者</th>
                  <th>ステータス</th>
                  <th>時間</th>
                </tr>
              <% @customers.each do |customer| %>
                <tr>
                  <td><%= link_to customer.company, customer_path(customer)%></td>
                  <td><%= call.customer.tel %></td>
                  <% @calls.each do |call| %>
                  <td><%= call.admin.user_name %></td>
                  <td><%= call.statu %></td>
                  <td><%= call.time %></td>
                </tr>
                <% end %>
              <% end %>
            </table>
