<%= form_for @customer do |f| %>
<table width = "90%">
      <col width="20%">
      <col width="30%">
      <col width="20%">
      <col width="30%">
	<tbody>
	  <tr>
	    <th>会社名</th>
		  <td><%=text_field :customer, :company %> </td>
      <th>メールアドレス</th>
		  <td><%=text_field :customer, :mail %> </td>
    </tr>
	  <tr>
	 	  <th>担当者姓</th>
		  <td><%=text_field :customer, :first_name %></td>
      <th>担当者名</th>
      <td><%=text_field :customer, :last_name %></td>
	  </tr>
	  <tr>
		 <th>電話番号</th>
		 <td><%=telephone_field :customer, :tel %></td>
     <th>携帯番号</th>
		 <td><%=telephone_field :customer, :mobile %></td>
   </tr>
   <tr>
    <th>郵便番号</th>
    <td>〒<%=telephone_field :customer, :postnumber %></td>
    <th>住所</th>
    <td><%=telephone_field :customer, :address %></td>
  </tr>
   <tr>
     <th>業種</th>
		 <td><%=text_field :customer, :industry %></td>
     <th>URL</th>
		 <td><%=text_field :customer, :url %></td>
	  </tr>
  </tbody>
 </table>
 <br>
 <table width = "90%">
       <col width="20%">
       <col width="30%">
       <col width="20%">
       <col width="30%">
 	<tbody>
   <tr>
      <th>事業内容</th>
      <td><%=text_field :customer, :business %></td>
      <th></th>
      <td></td>
   </tr>
   <tr>
     <th>流入元</th>
     <td>
         <%= f.select(:inflow, [
           ["選択する","選択する"],
           ["テレマーケティング","テレマーケティング"],
           ["メールマーケティング","メールマーケティング"],
           ["問い合わせフォーム","問い合わせフォーム"],
           ["紹介","紹介"],
           ["その他","その他"],
           ])%>
     </td>
     <th>過去アポ利用履歴</th>
     <td><%= f.radio_button :history, "Yes" %>ある
        <%= f.radio_button :history, "No" %>ない
        <%= f.radio_button :history, "what" %>不明</td>
   </tr>
   <tr>
     <th>ターゲットエリア</th>
     <td><%=text_field :customer, :area %> </td>
     <th>ターゲット業種</th>
     <td><%=text_field :customer, :number %> </td>
   </tr>
   <tr>
     <th>商談方法</th>
     <td><%=text_field :customer, :meeting %> </td>
     <th>経験則</th>
     <td><%=text_field :customer, :experience %> </td>
   </tr>
   <tr>
     <th>料金</th>
     <td><%=text_field :customer, :price %>円</td>
     <th>件数</th>
     <td><%=text_field :customer, :number %>件</td>
   </tr>
   <tr>
     <th>開始時期</th>
     <td><%=text_field :customer, :start %></td>
     <th>セレクト</th>
     <td><%= f.select(:choice, [["",""],["SFA","SFA"]])%></td>
   </tr>
   <tr>
     <th>備考</th>
     <td colspan = "3"><%= text_area :customer, :remarks %> </td>
   </tr>
   <tr>
			<th colspan ="4"><%=f.submit%></th>
	 </tr>
	</tbody>
 </table>
	    <%end%>
