<div  class="heading"><h2>顧客リスト</h2></div>
<table width="90%" class="tablesorter" id="company-index-table">
 <thead>
	<tr>
    <th>会社名</th>
		<th>代表者姓</th>
    <th>電話番号</th>
	  <th>メールアドレス</th>
	  <th>編集/削除</th>
  </tr>
 </thead>
 <tbody>
<% @customers.each do |customer| %>
  <tr>
   <td><%= link_to customer.company, customer_path(customer) %></td>
 	 <td><%= link_to customer.first_name, customer_path(customer) %></td>
	 <td><%= customer.tel %></td>
	 <td><%= customer.mail %></td>
	 <td><%= link_to '編集', edit_customer_path(customer), class: 'command'%>
			 <%= link_to '削除',
			      customer_path(customer),
			      method: :delete,
			      class: 'command',
			      data: { confirm: '本当に削除しますか？'} %></td>
			 <% end %>
	</tr>
	<tr>
		<th colspan ="6"><%= paginate @customers %></th>
	</tr>
 </tbody>
</table>
