<div  class="heading"><h2>コールリスト</h2></div>
<%= form_tag({ controller: :customers, action: :destroy_all}, method: 'delete') do %>

          <table width ="90%">
                   <col width="10%">
                   <col width="15%">
                   <col width="10%">
                   <col width="15%">
                   <col width="10%">
                   <col width="15%">
                   <col width="15%">
                   <col width="10%">
              <thead>
                <tr>
                  <th><%= submit_tag '一括削除' %></th>
                  <th>会社名</th>
                  <th>電話番号</th>
                  <th>住所</th>
                  <th>ステータス</th>
                  <th><%= sort_link(@q, :created_at) %></th>
                  <th>アップデート日</th>
                  <th>編集/削除</th>
                </tr>
              </thead>
    <% @customers.each_with_index do |customer, index| %>
                <tr>
                  <td><%= check_box_tag "deletes[#{customer.id}]", customer.id %></td>
                  <td><%= link_to customer.company, customer_path(customer, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!) %></td>
                  <td><%= customer.tel %></td>
                  <td><%= customer.address %></td>
                  <td><%= customer.last_call.try(:statu) %></td>
                  <td><%= customer.last_call.try(:created_at) %></td>
                  <td><%= customer.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
                  <td><%= link_to '編集', edit_customer_path(customer), class: 'command'%>
                      <%= link_to '削除',
                       customer_path(customer),
                       method: :delete,
                       class: 'command',
                       data: { confirm: '本当に削除しますか？'} %></td>
                </tr>
          <% end %>
                <tr>
                  <th colspan="8"><%= paginate @customers %></th>
                </tr>
            </table>
<% end %>
