<%- set_meta_tags noindex: true%>
<table class="header-table space"">
  <tr>
    <th>
      <% if @prev_customer&.id %>
        <%= link_to "前へ", customer_path(id: @prev_customer.id, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!), class:"prev btn btn-success" %>
      <% end %>
    </th>
    <th>コール<label for="check-auto-call" style="display:inline-block;margin-left:2em;margin-bottom:0;">
          <input type="checkbox" id="check-auto-call"<%= @is_auto_call ? ' checked' : '' %>
        </label>
    </th>
  	<th>
  				<%= select_tag(:token, options_for_select(Smartphone.where(delete_flag: false).order(:id).all.collect{ |o| [ o.device_name, o.token ] }), :include_blank => '（選択してください）') %>
  				<button id="button-call" data-number="<%= @customer.tel %>">発信</button>
  	</th>
    <th>

      <% if @next_customer&.id %>
        <%= link_to "次へ", customer_path(id: @next_customer.id, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!), class:"prev btn btn-success" %>
      <% end %>
    </th>
  </tr>
</table>

<table width="100%" class="space">
		<col width="10%">
    <col width="15%">
    <col width="10%">
    <col width="15%">
    <col width="10%">
    <col width="15%">
    <col width="10%">
    <col width="15%">
	<tbody>
		<tr>
			<th colspan="8">顧客情報（<%= link_to("編集", edit_customer_path,  target:"_blank") %>）</th>
		</tr>
		<tr>
			<th>会社名</th>
			<td><%= @customer.company %></td>
      <th>担当者</th>
		  <td><%=@customer.first_name%><%=@customer.last_name %></td>
      <th>電話番号</th>
      <td><%=@customer.tel %></td>
       <th>携帯番号</th>
      <td><%=@customer.mobile %></td>
    </tr>
    <tr>
     <th>住所</th>
     <td colspan = "3">〒<%=@customer.postnumber %><%=@customer.address %></td>
     <th>Mail</th>
     <td><%= mail_to @customer.mail, @customer.mail %></td>
     <th>URL</th>
     <td><%= link_to @customer.url, @customer.url %></td>
   </tr>
   <tr>
     <th>業種</th>
     <td><%=@customer.industry %></td>
     <th>事業内容</th>
     <td><%=@customer.business %></td>
     <th>流入元</th>
     <td><%=@customer.inflow %> </td>
     <th>代行履歴</th>
     <td><%=@customer.history %></td>
   </tr>
   <tr>
     <th>エリア</th>
     <td><%=@customer.area %> </td>
     <th>ターゲット</th>
     <td><%=@customer.target %> </td>
     <th>商談方法</th>
     <td><%=@customer.meeting %> </td>
     <th>経験則</th>
     <td><%=@customer.experience %> </td>
   </tr>
   <tr>
     <th>料金</th>
     <td><%=@customer.price %> </td>
     <th>件数</th>
     <td><%=@customer.number %> </td>
     <th>開始時期</th>
     <td><%=@customer.start %></td>
     <th>メール送信</th>
     <td><%= link_to "メール画面", "#"  %></td>
   </tr>
   <tr>
     <th>見積書/請求書</th>
     <td><%= link_to "新規見積書発行", new_customer_estimate_path(@customer, @estimate)  %></td>
     <th>オンライン契約</th>
     <td><%=link_to "契約締結", "https://contract.infomart.co.jp/contract/edit/input.page?66" %></td>
     <th>Paid</th>
     <td><%=link_to "審査", "https://paid.jp/v/do/login" %></td>
     <th>slack</th>
     <td><%=link_to "招待", "https://slack.com/ssb/get-started?ssb_vid=.2ubu5jegnwo1yv1vjetixdbzh#/create" %></td>
   </tr>
   <tr>
    <th>備考</th>
    <td colspan ="7"><%= @customer.remarks %></td>
   </tr>
  </tbody>
</table>

<%= form_for([@customer, @call], url: customer_calls_path(customer_id: @customer, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!)) do |f| %>
<table class="space">
  <col width="10%">
  <col width="10%">
  <col width="15%">
  <col width="10%">
  <col width="10%">
  <col width="45%">
	<tbody>
		<tr>
			<th>ステータス</th>
			<td><%= f.select(:statu, Call.SfaStatus) %></td>
			<th>再コール日時</th>
			<td><%= f.datetime_field :time %></td>
			<th>コメント</th>
			<td><%= f.text_area :comment %></td>
		</tr>
		<tr>
			<th colspan ="6"><%= f.submit %></th>
		</tr>
	</tbody>
</table>
<%end%>

<table width="100%" class="space">
		<col width="15%">
		<col width="8%">
		<col width="8%">
		<col width="10%">
		<col width="45%">
		<col width="7%">
<% if @customer.calls.any? %>
		<tr>
			<th>日時</th>
			<th>担当者</th>
			<th>ステータス</th>
			<th>次回連絡日</th>
			<th>コメント</th>
			<th>削除</th>
		</tr>
		<tr>
		<% @customer.calls.includes([:admin, :user]).each do |call| %>
			<td><%= call.created_at %></td>
			<td>
          <%= call.admin&.user_name %>
          <%= call.user&.user_name %>
      </td>
			<td><%= call.statu %></td>
			<td><%= call.time %></td>
			<td><%= call.comment %></td>
			<td><%= link_to '編集', edit_customer_call_path(@customer, call), class: 'command'%>
			<%= link_to '削除',
                    customer_call_path(@customer, call) ,
			            	method: :delete,
			            	class: 'command',
			            	data: { confirm: '本当に削除しますか？'} %></td>
		</tr>
<% end %>
</table>
<% end %>


<script>
$(function() {

  // 前回選択時の発信先を初期設定する
  for (var cookie of document.cookie.split(';')) {
    var keyValue = cookie.split('=');
    if (keyValue[0] == 'token') {
      $('select#token').val(keyValue[1]);
    }
  }

  $('a.prev,a.next').on('click', function(event) {
    var href = $(this).prop('href');
    var s = href.split('?');
    var url = s[0] + '/' + $('input#check-auto-call').prop('checked');
    if (s.length > 1) {
      url += '?' + s[1];
    }
    $(this).prop('href', url);
  });

  // 発信要求送信先端末選択時のイベント
  $('select#token').on('change', function(event) {
    // 「発信」「保留」「切断」ボタンの使用可否を制御
    var token = $(this).find('option:selected').val();
    var isNotSelected = (token == '');
    $(':button#button-call,:button#button-hang-up,input#check-auto-call').prop('disabled', isNotSelected);
    // 選択したトークンをCookieに保存
    if (!isNotSelected) {
      document.cookie = 'token=' + token + ';max-age=' + (60 * 60 * 24 * 30);
    }
  }).triggerHandler('change');

  // 「発信」ボタンクリック時のイベント
  $(':button#button-call').on('click', function(event) {
    // トークンを取得
    var token = $('select#token').children(':selected').val();
    // 電話番号を取得
    var telephone = $(this).data('number').replace(/-/g, '');
    // Push通知を送信
    $.ajax({
      type: 'post',
      url: 'https://fcm.googleapis.com/fcm/send',
      headers: { Authorization: 'key=AAAAeBZ_DsA:APA91bHFa3RIOMEUyj-lYVOjU6AF60NZRxWkJZXvOSVZw8tUTYq2Rvb7a4CvUOV3XGi_Oc0ZS7HptHhXPeozTnlt1zaunIUXgwEJ6j3bYpVsQ10tHg9SqKUYnZLhVtBkGb1X0tvyxG8S' },
      contentType: 'application/json',
      data: JSON.stringify({ "to": token, "priority": "high", "time_to_live": 1, "data": { "telephone": telephone.replace(/-/g, ''), "date": new Date().getTime() } }),
    })
    .done((data, textStatus, jqXHR) => {
      if (data.failure > 0) {
        alert('発信先の端末が無効です。\n正しい端末が登録されているかご確認ください。\n\nエラー内容：' + data.results[0].error);
      } else {
        // nop
      }
      console.log('done', jqXHR.status);
    })
    .fail((jqXHR, textStatus, errorThrown) => {
      alert('発信時にエラーが発生しました。\nシステム管理者にお問い合わせください。\n\nエラーコード：' + jqXHR.status);
      console.log('fail', jqXHR.status);
    })
    .always(() => {
      // nop
    });
  });

  // 自動発信を行うかどうか
  if (<%= @is_auto_call %>) {
    $(':button#button-call').triggerHandler('click');
  }

});
</script>
