<%- set_meta_tags noindex: true%>
<table class="header-table space">
  <tr>
    <th rowspan="2">
      <% if @prev_customer&.id %>
        <%= link_to "前へ", customer_path(id: @prev_customer.id, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!), class:"prev btn btn-success" %>
      <% end %>
    </th>
      <th>総コール：<%= Call.call_count_today.count %>Call</th>
      <th>平均コール：<%= Call.active_user_count == 0 ? 0 : Call.call_count_hour.count / Call.active_user_count %>Call</th>
      <th>見込数：<%= Call.protect_count_today.count %>件</th>
      <th>アポ数：<%= Call.app_count_today.count %>件</th>
      <th>見込率：<%= Call.protect_convertion.ceil(2) %>%</th>
      <th>アポ率：<%= Call.app_convertion.ceil(2) %>%</th>
    <th rowspan="2">
      <% if @next_customer&.id %>
        <%= link_to "次へ", customer_path(id: @next_customer.id, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!), class:"prev btn btn-success" %>
      <% end %>
    </th>
  </tr>
  <tr>
    <%- if admin_signed_in? %>
      <th>自己コール：<%= current_admin.calls.count %>Call</th>
      <th>不足コール：<%= -35 + current_admin.calls.count %>Call</th>
      <th>総コール：<%= current_admin.calls.call_count_today.count %>Call</th>
      <th>アポ数：<%= current_admin.calls.call_count_today.where(statu: "APP").count %>Call</th>
      <th>アポ率：<%= number_to_percentage(current_admin.calls.call_count_today.count / current_admin.calls.app_count_today.count.to_f * 100 ,precision: 1 ) %>Call</th>
      <th></th>
    <%- elsif user_signed_in? %>
      <th>自己コール：<%= current_user.calls.call_count_hour.count %>Call</th>
      <th>不足コール：<%= -35 + current_user.calls.call_count_hour.count %>Call</th>
      <th>総コール：<%= current_user.calls.call_count_today.count %>Call</th>
      <th>アポ数：<%= current_user.calls.app_count_today.count %>Call</th>
      <th>アポ率：<%= number_to_percentage(current_user.calls.call_count_today.count / current_user.calls.app_count_today.count.to_f * 100 ,precision: 1 ) %>Call</th>
      <th></th>
    <%- end %>
  </tr>
</table>


<div class="show-top">
<div class="two_column">
<table width="100%" class="space">
		<col width="25%">
		<col width="25%">
		<col width="25%">
		<col width="25%">
	<tbody>
		<tr>
			<th colspan="4">顧客情報（<%= link_to("編集", edit_customer_path,  target:"_blank") %>）</th>
		</tr>
		<tr>
			<th>会社名</th>
			<td><%= @customer.company %></td>
			<th>代表者</th>
			<td><%= @customer.first_name %></td>
		</tr>
		<tr>
			<th>検索対象</th>
			<td><%= @customer.industry %></td>
      <th>
        <% if @customer.mail.present? %>
         <%= mail_to @customer.mail, "商談URL送信",
              cc: 'info@ri-plus.jp',
              from: 'info@ri-plus.jp',
              subject: "オンラインURL発行のご案内",
              body: "#{@customer.company} #{@customer.first_name}様\n\nお世話になっております。株式会社Ri-Plus#{@user&.user_name}でございます。\n\n先ほどは突然のご連絡ながら対応頂き、誠にありがとうございました。\n\n以下、商談に使用するオンラインURLのリンクをお送りさせて頂きます。\n\n 【https://meet.google.com/yzv-gkyn-kvi】 \n\n日程変更等ございましたら、info@ri-plus.jp迄ご連絡くださいませ。\n\nご確認の程、よろしくお願い致します。\n\n株式会社Ri-Plus\n電話番号：050-5480-1131\nMail：info@ri-plus.jp\nURL：https://ri-plus.jp\n所在地：〒104-0061 東京都中央区銀座6-13-16 ヒューリック銀座ウォールビル7階\n問い合わせ時間：09:00-16:45",
              target:"_blank", class:"btn btn-success"  %>
        <%else%>
          メールアドレス無
        <%end%>
     </th>
			<th>
        <% if @customer.mail.present? %>
          <%= link_to "資料送付", contact_customer_path(id: @customer.id), target:"_blank", class:"btn btn-success"  %>
        <%else%>
        <%end%>
     </th>
		</tr>
    <tr>
			<th>住所</th>
			<td colspan="3"><%= @customer.postnumber %><%= @customer.address %></td>
		</tr>
		<tr>
      <th>タイトル</th>
			<td colspan="3"><%= @customer.title %></td>
    </tr>
    <tr>
      <th>URL1</th>
			<td><%= link_to @customer.url&.truncate(30), @customer.url, target:"_blank" %></td>
      <th>URL2</th>
			<td><%= link_to @customer.url_2&.truncate(30), @customer.url_2, target:"_blank" %></td>
    </tr>
    <tr>
      <th>業種</th>
      <td><%= @customer.business %></td>
      <th>事業内容</th>
      <td><%= @customer.genre %></td>
		</tr>
    <tr>
      <th>資本金</th>
      <td><%= @customer.caption %></td>
      <th>人数</th>
  		<td><%= @customer.people %></td>
		</tr>
	</tbody>
</table>
</div>

<div class="two_column">
<table width="100%" class="space">
		<col width="20%">
		<col width="30%">
		<col width="20%">
		<col width="30%">
	<tbody>
		<tr>
			<th colspan="2"><label for="check-auto-call" style="display:inline-block;margin-left:2em;margin-bottom:0;">
        <input type="checkbox" id="check-auto-call"<%= @is_auto_call ? ' checked' : '' %> />チェック必須
      </label></th>
			<td class="call-font"><%= @customer.tel%></td>
			<th>
				<%= select_tag(:token, options_for_select(Smartphone.where(delete_flag: false).order(:id).all.collect{ |o| [ o.device_name, o.token ] }), :include_blank => '（選択してください）') %>
				<button id="button-call" data-number="<%= @customer.tel %>">発信</button>
			</th>
		</tr>
	</tbody>
</table>
<%= form_for([@customer, @call], url: customer_calls_path(customer_id: @customer, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!)) do |f| %>
<table>
	<tbody>
		<tr>
			<th colspan="4">情報入力</th>
		</tr>
		<tr>
			<th>ステータス</th>
			<td><%= f.select(:statu, Call.StatuItems) %></td>
			<th>再コール日時</th>
			<td><%= f.datetime_field :time %></td>
		</tr>
		<tr>
			<th>コメント</th>
			<td colspan ="4" class="comment"><%= f.text_area :comment %></td>
		</tr>
		<tr>
			<th colspan ="4"><%= f.submit %></th>
		</tr>
	</tbody>
</table>
<%end%>
</div>

<table width="100%" class="space">
		<col width="15%">
		<col width="10%">
		<col width="15%">
		<col width="15%">
		<col width="25%">
		<col width="10%">
		<col width="10%">
<% if @customer.calls.any? %>
		<tr>
			<th>日時</th>
			<th>担当者</th>
			<th>ステータス</th>
			<th>次回連絡日</th>
			<th>コメント</th>
			<th>削除</th>
		</tr>
		<tr>
		<% @customer.calls.includes([:admin, :user]).each do |call| %>
			<td><%= call.created_at %></td>
			<td>
          <%= call.admin&.user_name %>
          <%= call.user&.user_name %>
      </td>
			<td><%= call.statu %></td>
			<td><%= call.time %></td>
			<td><%= call.comment %></td>
			<td><%= link_to '編集', edit_customer_call_path(@customer, call), class: 'command'%>
			<%= link_to '削除',
                    customer_call_path(@customer, call) ,
			            	method: :delete,
			            	class: 'command',
			            	data: { confirm: '本当に削除しますか？'} %></td>
		</tr>
<% end %>
</table>
<% end %>
</div>

<script>
$(function() {

  // 前回選択時の発信先を初期設定する
  for (var cookie of document.cookie.split(';')) {
    var keyValue = cookie.split('=');
    if (keyValue[0] == 'token') {
      $('select#token').val(keyValue[1]);
    }
  }

  $('a.prev,a.next').on('click', function(event) {
    var href = $(this).prop('href');
    var s = href.split('?');
    var url = s[0] + '/' + $('input#check-auto-call').prop('checked');
    if (s.length > 1) {
      url += '?' + s[1];
    }
    $(this).prop('href', url);
  });

  // 発信要求送信先端末選択時のイベント
  $('select#token').on('change', function(event) {
    // 「発信」「保留」「切断」ボタンの使用可否を制御
    var token = $(this).find('option:selected').val();
    var isNotSelected = (token == '');
    $(':button#button-call,:button#button-hang-up,input#check-auto-call').prop('disabled', isNotSelected);
    // 選択したトークンをCookieに保存
    if (!isNotSelected) {
      document.cookie = 'token=' + token + ';max-age=' + (60 * 60 * 24 * 30);
    }
  }).triggerHandler('change');

  // 「発信」ボタンクリック時のイベント
  $(':button#button-call').on('click', function(event) {
    // トークンを取得
    var token = $('select#token').children(':selected').val();
    // 電話番号を取得
    var telephone = $(this).data('number').replace(/-/g, '');
    // Push通知を送信
    $.ajax({
      type: 'post',
      url: 'https://fcm.googleapis.com/fcm/send',
      headers: { Authorization: 'key=AAAAeBZ_DsA:APA91bHFa3RIOMEUyj-lYVOjU6AF60NZRxWkJZXvOSVZw8tUTYq2Rvb7a4CvUOV3XGi_Oc0ZS7HptHhXPeozTnlt1zaunIUXgwEJ6j3bYpVsQ10tHg9SqKUYnZLhVtBkGb1X0tvyxG8S' },
      contentType: 'application/json',
      data: JSON.stringify({ "to": token, "priority": "high", "time_to_live": 1, "data": { "telephone": telephone.replace(/-/g, ''), "date": new Date().getTime() } }),
    })
    .done((data, textStatus, jqXHR) => {
      if (data.failure > 0) {
        alert('発信先の端末が無効です。\n正しい端末が登録されているかご確認ください。\n\nエラー内容：' + data.results[0].error);
      } else {
        // nop
      }
      console.log('done', jqXHR.status);
    })
    .fail((jqXHR, textStatus, errorThrown) => {
      alert('発信時にエラーが発生しました。\nシステム管理者にお問い合わせください。\n\nエラーコード：' + jqXHR.status);
      console.log('fail', jqXHR.status);
    })
    .always(() => {
      // nop
    });
  });

  // 自動発信を行うかどうか
  if (<%= @is_auto_call %>) {
    $(':button#button-call').triggerHandler('click');
  }

});
</script>
