<div class="heading"><h2>情報編集</h2></div>
<%= form_for @customer do |f| %>
<table width = "90%">
  <col width="20%">
  <col width="30%">
  <col width="20%">
  <col width="30%">
<tbody>
<tr>
    <th colspan = "4">検索</th>
  </tr>
<tr>
  <th>会社名</th>
  <td><%=text_field :customer, :company %> </td>
  <th>代表者</th>
  <td><%=text_field :customer, :first_name %></td>
</tr>
<tr>
 <th>電話番号</th>
 <td><%=telephone_field :customer, :tel %></td>
 <th>業種</th>
 <td><%=text_field :customer, :industry %></td>
</tr>
<tr>
 <th>メール</th>
 <td><%=text_field :customer, :mail %></td>
 <th>URL</th>
 <td><%=text_field :customer, :url %></td>
</tr>
<tr>
  <th>URL2</th>
  <td><%=text_field :customer, :url_2 %></td>
  <th></th>
  <td></td>
</tr>
<tr>
  <th>人数</th>
  <td><%=number_field :customer, :people %></td>
  <th>住所</th>
  <td><%=text_field :customer, :address %></td>
</tr>
<tr>
  <th>備考</th>
  <td><%=text_field :customer, :remarks %></td>
  <th>取引先</th>
  <td><%= f.select(:choice, [
    ["SORAIRO関東"],
    ["SORAIRO九州"],
    ["ティンロンジャパン"],
    ["アイアットOEC"],
    ]) %></td>
</tr>
<tr>
  <th>過去履歴</th>
  <td><%=text_field :customer, :old_statu %></td>
  <th>その他</th>
  <td><%=text_field :customer, :other %></td>
</tr>
<tr>
  <th colspan ="4"><%=f.submit%></th>
 </tr>
</tbody>
</table>
  <%end%>
