<div  class="heading"><h2>コールリスト</h2></div>
          <table width ="90%">
              <tbody>
                   <col width="25%">
                   <col width="12%">
                   <col width="25%">
                   <col width="15%">
                   <col width="15%">
                   <col width="8%">
                <tr>
                  <th>会社名</th>
                  <th>電話番号</th>
                  <th>住所</th>
                  <th>ステータス</th>
                  <th>最終更新日</th>
                  <th>編集/削除</th>
                </tr>
    <% @customers.each_with_index do |customer, index| %>
                <tr>
                  <td><%= link_to customer.company, customer_path(customer,
                                                    prev_id: @customers[index-1]&.id,
                                                    next_id: @customers[index+1]&.id,
                                                    )%>





                    <!--ユーザー情報の詳細ボタンを作る-->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                      data-target="#sampleModal"
                      data-id="<%= customer.id %>"
                      data-password="<%= customer.company %>"
                      data-name="<%= customer.tel %>">
                    詳細
                    </button>

                  <!--【モーダル】ログインボタンを押した後の表示-->
                    <div class="modal fade" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                           <div class="modal-body">

                           <!--ID、Password、Nameそれぞれをまとめたテーブルを作る-->
                           <% if @prev_customer&.id %>
                           　　<%= link_to "前へ", customer_path(customer_id: @prev_customer.id), class: "prev btn btn-danger" %>
                                 <% end %>
                           <% if @next_customer&.id %>
                           　　<%= link_to "次へ", customer_path(next_id: @next_customer.id), class: "next btn btn-danger" %>
                                 <% end %>

                         <div class="two_column">
                           <table width="100%">
                              <col width="20%">
                              <col width="30%">
                              <col width="20%">
                              <col width="30%">
                            <tbody>
                              <tr>
                                <th colspan="4">顧客情報（<%= link_to("編集", @edit_customer_path) %>）</th>
                              </tr>
                              <tr>
                                <th>会社名</th>
                                <td><%= customer.company %></td>
                                <th>店舗名</th>
                                <td><%= customer.store %></td>
                              </tr>
                              <tr>
                                <th>代表者</th>
                                <td><%= customer.first_name %></td>
                                <th>フリガナ</th>
                                <td><%= customer.first_kana %></td>
                              </tr>
                              <tr>
                                <th>電話番号１</th>
                                <td><%= customer.tel %></td>
                                <th>電話番号２</th>
                                <td><%= customer.tel2 %></td>
                              </tr>
                              <tr>
                                <th>FAX</th>
                                <td><%= customer.fax %></td>
                                <th>業種</th>
                                <td><%= customer.industry %></td>
                              </tr>
                              <tr>
                                <th>メール</th>
                                <td><%= customer.mail %></td>
                                 <th>人数</th>
                                <td><%= customer.people %></td>
                              </tr>
                              <tr>
                                <th>URL</th>
                                <td colspan="3"><%= customer.url %></td>
                              </tr>
                              <tr>
                                <th>住所</th>
                                <td colspan="3"><%= customer.address %></td>
                              </tr>
                              <tr>
                                <th>メモ</th>
                                <td><%= customer.remarks %></td>
                                 <th>メモ１</th>
                                <td><%= customer.memo_1 %></td>
                              </tr>
                               <tr>
                                 <th>メモ２</th>
                                <td><%= customer.memo_2 %></td>
                                 <th>メモ３</th>
                                <td><%= customer.memo_3 %></td>
                               </tr>
                            </tbody>
                           </table>
                          </div>

                          <div class="two_column">
                           <table width="100%">
                              <col width="20%">
                              <col width="30%">
                              <col width="20%">
                              <col width="30%">
                            <tbody>
                              <tr>
                                <th colspan="4">コール</th>
                              </tr>
                              <tr>
                                <td colspan="3" class="call-font"><%= customer.tel%></td>
                                <td>代表者：<%= customer.first_name %><%= customer.last_name %></td>
                              </tr>
                              <tr>
                                <th colspan ="4">
                                    <button id="button-call" data-number="<%= customer.tel %>">発信</button>
                                        <button id="button-hangup" data-number="<%= customer.tel %>">保留</button>
                                        <button id="button-hangup" data-number="<%= customer.tel %>">切断</button>
                                </th>
                              </tr>
                          <%= form_for ([customer, @call]) do |f| %>

                              <tr>
                                <th colspan="4">情報入力</th>
                              </tr>
                              <tr>
                                <th>ステータス</th>
                                <td><%= f.select(:statu, Call.StatuItems) %></td>
                                <th>再コール日時</th>
                                <td><%= f.datetime_field :time %></td>
                              </tr>
                              <tr>
                                <th>コメント</th>
                                <td colspan ="4"><%= f.text_area :comment %></td>
                              </tr>
                              <tr>
                                <th colspan ="4"><%= f.submit %></th>
                              </tr>
                            </tbody>
                           </table>
                           <%end%>
                           </div>

                           <table width="100%">
                              <col width="15%">
                              <col width="10%">
                              <col width="15%">
                              <col width="15%">
                              <col width="25%">
                              <col width="10%">
                              <col width="10%">
                           <% if customer.calls.any? %>
                              <tr>
                                <th>日時</th>
                                <th>担当者</th>
                                <th>ステータス</th>
                                <th>次回連絡日</th>
                                <th>コメント</th>
                                <th>削除</th>
                              </tr>
                              <tr>
                              <% customer.calls.each do |call| %>
                                <td><%= call.created_at %></td>
                                <td><%= call.admin&.user_name %></td>
                                <td><%= call.statu %></td>
                                <td><%= call.time %></td>
                                <td><%= call.comment %></td>
                                <td><%= link_to '編集', edit_customer_call_path(customer, call), class: 'command'%>
                                <%= link_to '削除',
                                               customer_call_path(customer,call) ,
                                              method: :delete,
                                              class: 'command',
                                              data: { confirm: '本当に削除しますか？'} %></td>
                              </tr>
                           <% end %>
                           </table>
                           <% end %>


                           </div>
                       </div>
                     </div>




                  </td>
                  <td><%= customer.tel %></td>
                  <td><%= customer.address %></td>
                  <td>
                    <%# customer.details.order('statu DESC').first.try(:statu) %>
                    <%= customer.last_call.try(:statu) %>
                  </td>
                  <td>
                    <%# post.details.order('updated_at DESC').first.try(:updated_at) %>
                    <%= customer.last_call.try(:created_at) %>
                  </td>
                  <td><%= link_to '編集', edit_customer_path(customer), class: 'command'%>
                  <%= link_to '削除',
                    customer_path(customer),
                    method: :delete,
                    class: 'command',
                    data: { confirm: '本当に削除しますか？'} %></td>
                    <% end %>
                </tr>
                <tr>
                  <th colspan = "6"><%= paginate @customers %></th>
                </tr>
              </tbody>
            </table>



<div  class="heading"><h2>リスト検索</h2></div>

<!--検索機能実装-->
<%= search_form_for @q do |f| %>
    <table width = "90%">
      <col width="20%">
      <col width="30%">
      <col width="20%">
      <col width="30%">
      <tbody>
          <tr>
            <th colspan = "4">検索</th>
          </tr>
          <tr>
            <th>会社名</th>
            <td><%= f.search_field :company_cont, type: "text" %></td>
            <th>店舗名</th>
		        <td><%= f.search_field :store_cont, type: "text" %> </td>
	      </tr>
	      <tr>
            <th>代表者</th>
            <td><%= f.search_field :first_name_cont, type: "text" %></td>
            <th>ダイヒョウ</th>
            <td><%= f.search_field :first_kana_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>電話番号1</th>
            <td><%= f.search_field :tel_cont, type: "text" %></td>
            <th>電話番号2</th>
            <td><%= f.search_field :tel2_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>FAX番号</th>
            <td><%= f.search_field :fax_cont, type: "text" %></td>
            <th>業種</th>
            <td><%= f.search_field :industry_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>メール</th>
            <td><%= f.search_field :mail_cont, type: "text" %></td>
            <th>URL</th>
            <td><%= f.search_field :url_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>人数</th>
            <td><%= f.search_field :people_cont, type: "text" %></td>
            <th>住所</th>
            <td><%= f.search_field :address_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>備考</th>
            <td><%= f.search_field :remarks_cont, type: "text" %></td>
            <th>顧客(call/prospect/customer)</th>
            <td><%= f.search_field :status_cont, type: "text" %></td>
          </tr>
          <tr>
            <th>最終コール状態</th>
            <td><%= select_tag "last_call[statu]", options_for_select( [""] + Call.StatuItems, @last_call_params[:statu] ) %></td>
　　　　　　　<th></th>
            <td></td>
          </tr>
          <tr>
            <th>見込コール日時（最初）</th>
            <td>
              <div class='input-group date' id='time_from_datetimepicker'>
                    <%= date_field_tag "last_call[time_from]", @last_call_params[:time_from], class: "from-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
               </div>
             </td>
             <th>見込コール日時（最後）</th>
            <td>
              <div class='input-group date' id='time_to_datetimepicker'>
                    <%= date_field_tag "last_call[time_to]", @last_call_params[:time_to], class: "form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
               </div>
                <%# text_field_tag "last_detail[created_at_from]", @last_detail_params[:created_at_from], class: "datetimepicker" %>
                <%# text_field_tag "last_detail[created_at_to]", @last_detail_params[:created_at_to], class: "datetimepicker" %>
            </td>
          </tr>
          <tr>
            <th>最終コール日時（最初）</th>
            <td>
              <div class='input-group date' id='created_at_from_datetimepicker'>
                    <%= date_field_tag "last_call[created_at_from]", @last_call_params[:created_at_from], class: "from-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
               </div>
             </td>
             <th>最終コール日時（最後）</th>
            <td>
              <div class='input-group date' id='created_at_to_datetimepicker'>
                    <%= date_field_tag "last_call[created_at_to]", @last_call_params[:created_at_to], class: "form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
               </div>
                <%# text_field_tag "last_detail[created_at_from]", @last_detail_params[:created_at_from], class: "datetimepicker" %>
                <%# text_field_tag "last_detail[created_at_to]", @last_detail_params[:created_at_to], class: "datetimepicker" %>
            </td>
          </tr>
          <tr>
            <th colspan = "4" ><%= f.submit '検索' %></th>
          </tr>
        <% end %>
      </tbody>
    </table>

<script>
/*
* #TPD
* #2018.12.14
* bootstrap DateTImePicker 設定 #2018.12.14
*/
$(function () {
  $('#created_at_from_datetimepicker').datetimepicker({
    format: 'YYYY-MM-DD hh:mm'
  });
  $('#created_at_to_datetimepicker').datetimepicker({
    format: 'YYYY-MM-DD hh:mm',
    useCurrent: false //Important! See issue #1075
  });
  $("#created_at_from_datetimepicker").on("dp.change", function (e) {
    $('#created_at_to_datetimepicker').data("DateTimePicker").minDate(e.date);
  });
  $("#created_at_to_datetimepicker").on("dp.change", function (e) {
    $('#created_at_from_datetimepicker').data("DateTimePicker").maxDate(e.date);
  });
});
</script>
<br>


<div  class="heading"><h2>インポート</h2></div>

   <%= form_tag import_customers_path, multipart: true do %>
   <table width="90%">
     <tbody>
        <tr>
           <th>CSVファイルインポート</th>
        <tr>
        <tr>
           <td><%= file_field_tag :file %></td>
        <tr>
        <tr>
           <th colspan="2"><%= submit_tag "インポート",  class: 'btn btn-danger' %></th>
        </tr>
    </tbody>
   </table>

   <table width="90%">
     <tbody>
        <tr>
           <th>CSVファイルエクスポート</th>
        <tr>
        <tr>
           <th colspan="2"><%= link_to 'エクスポート', customers_path(format: :csv), class: 'btn btn-danger' %></th>
        </tr>
    </tbody>
   </table>
<% end %>
