<table class="header-table">
  <tr>
    <th rowspan="2">
      <% if @prev_customer&.id %>
        <%= link_to "前へ", customer_path(id: @prev_customer.id, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!), class:"prev btn btn-danger" %>
      <% end %>
    </th>
      <th>総コール：<%= @call.call_count_today %>Call</th>
      <th>見込数：<%= @call.protect_count_today %>件</th>
      <th>アポ数：<%= @call.app_count_today %>件</th>
      <th>見込率：<%= @call.protect_convertion.ceil(2) %>%</th>
      <th>アポ率：<%= @call.app_convertion.ceil(2) %>%</th>
    <th rowspan="2">
      <% if @next_customer&.id %>
        <%= link_to "次へ", customer_path(id: @next_customer.id, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!), class:"prev btn btn-danger" %>
      <% end %>
    </th>
  </tr>
  <tr>
    <%- if admin_signed_in? %>
      <th>自己コール：<%= current_admin.calls.where(created_at: Time.current.beginning_of_hour..Time.current.end_of_hour).count %>Call</th>
      <th>不足コール：<%= -25 + current_admin.calls.where(created_at: Time.current.beginning_of_hour..Time.current.end_of_hour).count %>Call</th>
      <th>総コール：<%= current_admin.calls.where(created_at: Time.current.beginning_of_day..Time.current.end_of_day).count %>Call</th>
      <th>アポ数：<%= current_admin.calls.where(created_at: Time.current.beginning_of_day..Time.current.end_of_day).where(statu: "APP").count %>Call</th>
      <th>アポ率：<%= number_to_percentage(current_admin.calls.where(created_at: Time.current.beginning_of_day..Time.current.end_of_day).count / current_admin.calls.where(created_at: Time.current.beginning_of_day..Time.current.end_of_day).where(statu: "APP").count.to_f * 100 ,precision: 1 ) %>Call</th>
    <%- elsif user_signed_in? %>
      <th>自己コール：<%= current_user.calls.where(created_at: Time.current.beginning_of_hour..Time.current.end_of_hour).count %>Call</th>
      <th>不足コール：<%= -25 + current_user.calls.where(created_at: Time.current.beginning_of_hour..Time.current.end_of_hour).count %>Call</th>
      <th>総コール：<%= current_user.calls.where(created_at: Time.current.beginning_of_day..Time.current.end_of_day).count %>Call</th>
      <th>アポ数：<%= current_user.calls.where(created_at: Time.current.beginning_of_day..Time.current.end_of_day).where(statu: "APP").count %>Call</th>
      <th>アポ率：<%= number_to_percentage(current_user.calls.where(created_at: Time.current.day).count / current_user.calls.where(created_at: Time.current.beginning_of_day..Time.current.end_of_day).where(statu: "APP").count.to_f * 100 ,precision: 1 ) %>Call</th>
    <%- end %>
  </tr>
</table>


<div class="show-top">
<div class="two_column">
<table width="100%">
		<col width="25%">
		<col width="25%">
		<col width="25%">
		<col width="25%">
	<tbody>
		<tr>
			<th colspan="4">顧客情報（<%= link_to("編集", edit_customer_path) %>）</th>
		</tr>
		<tr>
			<th>会社名</th>
			<td><%= @customer.company %></td>
			<th>代表者</th>
			<td><%= @customer.first_name %>(<%= @customer.first_kana %>)</td>
		</tr>
		<tr>
			<th>業種</th>
			<td><%= @customer.industry %></td>
      <th>人数</th>
  		<td><%= @customer.people %></td>
		</tr>
    <tr>
			<th>住所</th>
			<td colspan="3"><%= @customer.address %></td>
		</tr>
		<tr>
			<td><%= mail_to @customer.mail, "Mail", class:"btn btn-danger" %></td>
			<td><%= link_to "URL", @customer.url, target:"_blank", class:"btn btn-danger" %></td>
			<td><%= link_to "URL2", @customer.url_2, target:"_blank", class:"btn btn-danger" %></td>
      <td><%= link_to "Calendar", "https://calendar.google.com/", target:"_blank", class:"btn btn-danger" %></td>
		</tr>
		<tr>
      <th>タイトル</th>
			<td colspan="3"><%= @customer.title %></td>
    </tr>
    <tr>
      <th>備考</th>
			<td colspan="3"><%= @customer.remarks %></td>
    </tr>
	</tbody>
</table>
</div>

<div class="two_column">
<table width="100%">
		<col width="20%">
		<col width="30%">
		<col width="20%">
		<col width="30%">
	<tbody>
		<tr>
			<th colspan="4">コール<label for="check-auto-call" style="display:inline-block;margin-left:2em;margin-bottom:0;">
        <input type="checkbox" id="check-auto-call"<%= @is_auto_call ? ' checked' : '' %> />自動発信の場合、必ずチェックして下さい。//, checked
      </label></th>
		</tr>
		<tr>
			<td class="call-font"><%= @customer.tel%></td>
			<th>
				<%= select_tag(:token, options_for_select(Smartphone.where(delete_flag: false).order(:id).all.collect{ |o| [ o.device_name, o.token ] }), :include_blank => '（選択してください）') %>
				<button id="button-call" data-number="<%= @customer.tel %>">発信</button>
			</th>
		</tr>
	</tbody>
</table>
<%= form_for([@customer, @call], url: customer_calls_path(customer_id: @customer, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!)) do |f| %>
<table>
	<tbody>
		<tr>
			<th colspan="4">情報入力</th>
		</tr>
		<tr>
			<th>ステータス</th>
			<td><%= f.select(:statu, Call.StatuItems) %></td>
			<th>再コール日時</th>
			<td><%= f.datetime_field :time %></td>
		</tr>
		<tr>
			<th>コメント</th>
			<td colspan ="4" class="comment"><%= f.text_area :comment %></td>
		</tr>
		<tr>
			<th colspan ="4"><%= f.submit %></th>
		</tr>
	</tbody>
</table>
<%end%>
</div>


<table width="100%">
		<col width="15%">
		<col width="10%">
		<col width="15%">
		<col width="15%">
		<col width="25%">
		<col width="10%">
		<col width="10%">
<% if @customer.calls.any? %>
		<tr>
			<th>日時</th>
			<th>担当者</th>
			<th>ステータス</th>
			<th>次回連絡日</th>
			<th>コメント</th>
			<th>削除</th>
		</tr>
		<tr>
		<% @customer.calls.each do |call| %>
			<td><%= call.created_at %></td>
			<td>
          <%= call.admin&.user_name %>
          <%= call.user&.user_name %>
      </td>
			<td><%= call.statu %></td>
			<td><%= call.time %></td>
			<td><%= call.comment %></td>
			<td><%= link_to '編集', edit_customer_call_path(@customer, call), class: 'command'%>
			<%= link_to '削除',
                    customer_call_path(@customer, call) ,
			            	method: :delete,
			            	class: 'command',
			            	data: { confirm: '本当に削除しますか？'} %></td>
		</tr>
<% end %>
</table>
<% end %>
</div>

<script>
$(function() {

  // 前回選択時の発信先を初期設定する
  for (var cookie of document.cookie.split(';')) {
    var keyValue = cookie.split('=');
    if (keyValue[0] == 'token') {
      $('select#token').val(keyValue[1]);
    }
  }

  $('a.prev,a.next').on('click', function(event) {
    var href = $(this).prop('href');
    var s = href.split('?');
    var url = s[0] + '/' + $('input#check-auto-call').prop('checked');
    if (s.length > 1) {
      url += '?' + s[1];
    }
    $(this).prop('href', url);
  });

  // 発信要求送信先端末選択時のイベント
  $('select#token').on('change', function(event) {
    // 「発信」「保留」「切断」ボタンの使用可否を制御
    var token = $(this).find('option:selected').val();
    var isNotSelected = (token == '');
    $(':button#button-call,:button#button-hang-up,input#check-auto-call').prop('disabled', isNotSelected);
    // 選択したトークンをCookieに保存
    if (!isNotSelected) {
      document.cookie = 'token=' + token + ';max-age=' + (60 * 60 * 24 * 30);
    }
  }).triggerHandler('change');

  // 「発信」ボタンクリック時のイベント
  $(':button#button-call').on('click', function(event) {
    // トークンを取得
    var token = $('select#token').children(':selected').val();
    // 電話番号を取得
    var telephone = $(this).data('number').replace(/-/g, '');
    // Push通知を送信
    $.ajax({
      type: 'post',
      url: 'https://fcm.googleapis.com/fcm/send',
      headers: { Authorization: 'key=AAAAeBZ_DsA:APA91bHFa3RIOMEUyj-lYVOjU6AF60NZRxWkJZXvOSVZw8tUTYq2Rvb7a4CvUOV3XGi_Oc0ZS7HptHhXPeozTnlt1zaunIUXgwEJ6j3bYpVsQ10tHg9SqKUYnZLhVtBkGb1X0tvyxG8S' },
      contentType: 'application/json',
      data: JSON.stringify({ "to": token, "priority": "high", "time_to_live": 0, "data": { "telephone": telephone.replace(/-/g, ''), "date": new Date().getTime() } }),
    })
    .done((data, textStatus, jqXHR) => {
      if (data.failure > 0) {
        alert('発信先の端末が無効です。\n正しい端末が登録されているかご確認ください。\n\nエラー内容：' + data.results[0].error);
      } else {
        // nop
      }
      console.log('done', jqXHR.status);
    })
    .fail((jqXHR, textStatus, errorThrown) => {
      alert('発信時にエラーが発生しました。\nシステム管理者にお問い合わせください。\n\nエラーコード：' + jqXHR.status);
      console.log('fail', jqXHR.status);
    })
    .always(() => {
      // nop
    });
  });

  // 自動発信を行うかどうか
  if (<%= @is_auto_call %>) {
    $(':button#button-call').triggerHandler('click');
  }

});
</script>
