
  <div class="beige-wrapper">
  
            <div class="heading"><h2>顧客一覧</h2>
            <p>Customer List</p></div>


            <table>
	            <tbody>
		            <tr>
			            <th>会社名</th>
			            <th>代表者姓</th>
		                <th>電話番号</th>
			            <th>メールアドレス</th>
			            <th>編集/削除</th>
		            </tr>
            
    <% @users.each do |user| %>

		            <tr>
			            <td><%= link_to user.company, user_path(user) %>
			            											
			            </td>
			            <td><%= link_to user.first_name, user_path(user) %></td>
			            <td><%= user.tel_1 %></td>
			            <td><%= user.e_mail %></td>
			            <td><%= link_to '編集', edit_user_path(user), class: 'command'%>
			            <%= link_to '削除', 
			            	user_path(user), 
			            	method: :delete, 
			            	class: 'command',
			            	data: { confirm: '本当に削除しますか？'} %></td>
		            </tr>
	            </tbody>
            </table>      
    <% end %>
    
    
 </div>
