<%= form_for @order do |f| %>
<table width="90%">
  <col width="30%">
  <col width="70%">
  <tr>
    <th>実施名</th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th>スプレッドシートリスト名</th>
    <td><%= f.text_field :list %></td>
  </tr>
  <tr>
    <th>スプレッドシートタブ名</th>
    <td><%= f.text_field :tab %></td>
  </tr>
</table>


<div class="heading"><h2>リスト制作</h2></div>

<table width="90%">
  <col width="30%">
  <col width="70%">
  <tr>
    <th>抽出条件</th>
    <td><%= f.text_area :within %></td>
  </tr>
  <tr>
    <th>抽出外</th>
    <td><%= f.text_area :without %></td>
  </tr>
</table>

<div class="heading"><h2>メール送信</h2></div>

<table width="90%">
  <col width="15%">
  <col width="35%">
  <col width="15%">
  <col width="35%">
  <tr>
    <th>会社名</th>
    <td><%= f.text_field :company %></td>
    <th>電話番号</th>
    <td><%= f.text_field :tel %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= f.text_field :name %></td>
    <th>ナマエ</th>
    <td><%= f.text_field :name_kana %></td>
  </tr>
  <tr>
    <th>メール</th>
    <td><%= f.text_field :mail %></td>
    <th>URL</th>
    <td><%= f.text_field :url %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td colspan="3"><%= f.text_area :address %></td>
  </tr>
  <tr>
    <th>送信内容</th>
    <td colspan="3"><%= f.text_area :url %></td>
  </tr>
</table>

<div class="heading"><h2>その他</h2></div>

<table width="90%">
  <col width="30%">
  <col width="70%">
  <tr>
    <th>注意点</th>
    <td><%= f.text_area :warning %></td>
  </tr>
  <tr>
    <th>備考</th>
    <td><%= f.text_area :remarks %></td>
  </tr>
  <tr>
    <td colspan="4"><%= f.submit "送信" %></td>
  </tr>
</table>
<% end %>
