<div class="heading"><h2>実施内容</h2></div>

<table width="90%">
  <col width="30%">
  <col width="70%">
  <tr>
    <th>実施名</th>
    <td><%= @order.title %></td>
  </tr>
  <tr>
    <th>スプレッドシートリスト名</th>
    <td><%= @order.list %></td>
  </tr>
  <tr>
    <th>スプレッドシートタブ名</th>
    <td><%= @order.tab %></td>
  </tr>
</table>
<br>
<table width="90%">
  <col width="30%">
  <col width="70%">
  <tr>
    <th>抽出条件</th>
    <td><%= @order.within %></td>
  </tr>
  <tr>
    <th>抽出外</th>
    <td><%= @order.without %></td>
  </tr>
</table>
<br>
<table width="90%">
  <col width="15%">
  <col width="35%">
  <col width="15%">
  <col width="35%">
  <tr>
    <th>会社名</th>
    <td><%= @order.company %></td>
    <th>電話番号</th>
    <td><%= @order.tel %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @order.name %></td>
    <th>ナマエ</th>
    <td><%= @order.name_kana %></td>
  </tr>
  <tr>
    <th>メール</th>
    <td><%= @order.mail %></td>
    <th>URL</th>
    <td><%= @order.url %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td colspan="3"><%= @order.address %></td>
  </tr>
  <tr>
    <th>送信内容</th>
    <td colspan="3"><%= @order.url %></td>
  </tr>
</table>
<br>
<table width="90%">
  <col width="30%">
  <col width="70%">
  <tr>
    <th>注意点</th>
    <td><%= @order.warning %></td>
  </tr>
  <tr>
    <th>備考</th>
    <td><%= @order.remarks %></td>
  </tr>

</table>
