<% if comment.carriaup? %>
  <tr>
    <td><%= comment.carriaup_each_name %></td>
    <td><%= comment.carriaup_progress %></td>
    <td><%= comment.carriaup_start %></td>
    <td><%= comment.carriaup_each_limited_start %></td>
    <td><%= comment.carriaup_each_regular %></td>
    <td><%= comment.carriaup_each_supply %></td>
    <td><%= comment.carriaup_comment %></td>
    <td class="comment-edit-detail" data-id="<%=comment.id %>" ><%= "編集" %> | <%= link_to '[削除]', company_comment_path(company_id: company.id, id: comment.id), method: :delete, class: 'command', data: { confirm: '本当に削除しますか？' } %></td>
  </tr>
<tr id="<%=comment.id %>-comment-edit-detail-field" class="none comment-edit-detail-field">
  <td colspan="8">
    <%= render :partial => "companies/comment_carriaup_form", :locals => {:company => company, :comment => comment} %>
  </td>
</tr>


<% end %>