
<%= form_for([company, comment]) do |f| %>

<table width="90%" class = "inside" >
<tbody>
<tr>
    <th>制度</th>
    <th>進捗</th>
    <th>制度開始日</th>
    <th>実施日</th>
    <th>支給開始日</th>
    <th>コメント</th>
</tr>
<tr>
      <td><%= f.select(:system_each_name,[ 
["（企）職業能力評価制度","（企）職業能力評価制度"], 
["（形）職業能力評価制度","（形）職業能力評価制度"], 
["（形）セルフキャリアドッグ制度","（形）セルフキャリアドッグ制度"],
["（形）技能検定合格報奨金制度）","（形）技能検定合格報奨金制度"], 
["（形）教育訓練休暇等制度）","（形）教育訓練休暇等制度"],
["（人）セルフキャリアドッグ制度）","（人）セルフキャリアドッグ制度"], 
["（人）技能検定合格報奨金制度","（人）技能検定合格報奨金制度"],
["（人）教育訓練休暇等制度","（人）教育訓練休暇等制度"],
["東京都キャリアアップ助成金","東京都キャリアアップ助成金"], 
["人事評価改善等助成金","人事評価改善等助成金"],
["職場定着支援等助成金","職場定着支援等助成金"], ], 
selected: comment.system_each_name) %></td>
       <td><%= f.select(:system_progress,[ 
["1.申込フォーム到着","1.申込フォーム到着"], 
["2.書類作成中(計画)","2.書類作成中(計画)"], 
["3.書類返送待（計画）","3.書類返送待（計画）"], 
["4.提出準備中（計画）","4.提出準備中（計画）"], 
["5.提出中・受理（計画）","5.提出中・受理（計画）"], 
["6.制度未実施","6.制度未実施"], 
["7.制度実施済","7.制度実施済"], 
["8.書類作成中（支給）","8.書類作成中（支給）"], 
["9.書類返送待（支給）","9.書類返送待（支給）"], 
["10.提出準備中（支給）","10.提出準備中（支給）"], 
["11.提出中・受理（支給）","11.提出中・受理（支給）"], 
["12.入金","12.入金"], 
["13.ストップ案件","13.ストップ案件"], 
],  selected: comment.system_progress) %></td>
　  <td><%= f.date_field :system_start, :value =>  comment.system_start %></td>
      <td><%= f.date_field :system_implementation, :value => comment.system_implementation %></td>
      <td><%= f.date_field :system_supply, :value => comment.system_supply %></td>
      <td><%= f.text_area :system_comment, :value => comment.system_comment %></td>
      <%= f.hidden_field :status, :value => :system %>
    </tr>
      <th colspan="6">
        <%= f.submit %>
      </th>
    </tr>
</tbody>
</table>

  <%end%>