<p id="notice"><%= notice %></p>

															
															
											<!-- 会社情報・就業規則 -->
<div class="heading"><h2>顧客詳細情報</h2>
<p>detailed information</p>
            </br>
            </br>
            <%= search_form_for @q do |f|  %>
                <%= f.search_field :company_cont,  type: "text"  %>
                <%= submit_tag "検索" %>
            <%end%>

</div>


<%= render :partial => "companies/company_table", :locals => { company: @company } %>
</br>
</br>


								<!-- 人材開発支援等助成金 有期実習型訓練 -->
<h3 class="heading">人材開発支援等助成金 有期実習型訓練</h3>
<table width="90%">
			<col width ="10%">
			<col width ="20%">
			<col width ="15%">
			<col width ="10%">
			<col width ="10%">
			<col width ="25%">
			<col width ="10%">
	<tbody>
		<tr>
			<th>申込者</th>
			<th>カリキュラム</th>
			<th>進捗</th>
			<th>制度開始日</th>
			<th>支給申請開始</th>
			<th>コメント</th>
			<th>編集/削除</th>
		</tr>
<%= render :partial => "companies/comment2", :collection => @company.comments, :as => "comment2", :locals => {:company => @company} %>
	</tbody>
</table>
</br></br>

<%= form_for([@company, @company.comments.build]) do |f| %>
<table width="90%" class = "inside" >
	<tbody>
		<tr>
			<th>申込者</th>
			<th>カリキュラム</th>
			<th>進捗</th>
			<th>制度開始日</th>
			<th>支給申請開始日</th>
			<th>コメント</th>
		</tr>
		<tr>
			<td><%= f.text_field :limited_each_name %></td>
			<td><%= f.select(:limited_each_curriculum,[
["シャンプー・接客基礎講座","シャンプー・接客基礎講座"],
["ブロー・スタイリング講座","ブロー・スタイリング講座"],
["パーマ講座","パーマ講座"],
["カラー講座","カラー講座"],
["カット講座","カット講座"], ]) %>
			</td>
			<td><%= f.select(:limited_progress,[
["1.申込フォーム到着","1.申込フォーム到着"],
["2.書類作成中(計画)","2.書類作成中(計画)"],
["3.書類返送待（計画）","3.書類返送待（計画）"],
["4.提出準備中（計画）","4.提出準備中（計画）"],
["5.提出中・受理（計画）","5.提出中・受理（計画）"],
["6.制度未実施","6.制度未実施"],
["7.制度実施済","7.制度実施済"],
["8.書類作成中（支給）","8.書類作成中（支給）"],
["9.書類返送待（支給）","9.書類返送待（支給）"],
["10.提出準備中（支給）","10.提出準備中（支給）"],
["11.提出中・受理（支給）","11.提出中・受理（支給）"],
["12.入金","12.入金"],
["13.ストップ案件","13.ストップ案件"],
]) %></td>
			<td><%= f.date_field :limited_start%></td>
			<td><%= f.date_field :limited_supply%></td>
			<td><%= f.text_area :limited_comment%></td>
		</tr>
		<tr>
			<%= f.hidden_field :status, :value => :limited %>
		<th colspan="6">
			<%= f.submit %>
		</th>
		</tr>
	</tbody>
</table>
<%end%>
</div>
</div>
</br>

						<!-- キャリアアップ助成金 正社員化コース -->
<h3 class="heading">キャリアアップ助成金 正社員化コース</h3>
<table width="100%">
			<col width ="10%">
			<col width ="20%">
			<col width ="10%">
			<col width ="10%">
			<col width ="10%">
			<col width ="10%">
			<col width ="20%">
			<col width ="10%">
	<tbody>
		<tr>
			<th>申込者</th>
			<th>進捗</th>
			<th>入社日</th>
			<th>制度開始日</th>
			<th>転換日</th>
			<th>支給申請日</th>
			<th>コメント</th>
			<th>編集/削除</th>
		</tr>
<%= render :partial => "companies/comment", :collection => @company.comments, :as => "comment", :locals => {:company => @company} %>
	</tbody>
</table>
</br></br>
<%= form_for([@company, @company.comments.build]) do |f| %>
<table width="90%" class = "inside" >
	<tbody>
		<tr>
			<th>申込者</th>
			<th>進捗</th>
			<th>入社日</th>
			<th>制度開始日</th>
			<th>転換日</th>
			<th>支給申請日</th>
			<th>コメント</th>
		</tr>
		<tr>
			<td><%= f.text_field :carriaup_each_name %></td>
			<td><%= f.select(:carriaup_progress,[
["1.申込フォーム到着","1.申込フォーム到着"],
["2.書類作成中(計画)","2.書類作成中(計画)"],
["3.書類返送待（計画）","3.書類返送待（計画）"],
["4.提出準備中（計画）","4.提出準備中（計画）"],
["5.提出中・受理（計画）","5.提出中・受理（計画）"],
["6.制度未実施","6.制度未実施"],
["7.制度実施済","7.制度実施済"],
["8.書類作成中（支給）","8.書類作成中（支給）"],
["9.書類返送待（支給）","9.書類返送待（支給）"],
["10.提出準備中（支給）","10.提出準備中（支給）"],
["11.提出中・受理（支給）","11.提出中・受理（支給）"],
["12.入金","12.入金"],
["13.ストップ案件","13.ストップ案件"],
]) %></td>
			<td><%= f.date_field :carriaup_start %></td>
			<td><%= f.date_field :carriaup_each_limited_start %></td>
			<td><%= f.date_field :carriaup_each_regular %></td>
			<td><%= f.date_field :carriaup_each_supply %></td>
			<td><%= f.text_area :carriaup_comment %></td>
		</tr>
		<tr>
<%= f.hidden_field :status, :value => :carriaup %>
<th colspan="7">
<%= f.submit %>
</th>
</tr>
</tbody>
</table>

<%end%>

</div>

</br>
</br>



<!-- 各制度コース（企業内人材開発推進助成金・キャリア形成促進助成金・人材開発支援等助成金）-->

<div class="beige-wrapper">

<div class="heading"><h3>各制度コース</h3>

<table width = "90%">
<tbody>
  <tr>
    <th>制度</th>
    <th>進捗</th>
    <th>制度開始日</th>
    <th>実施日</th>
    <th>支給開始日</th>
    <th>コメント</th>
    <th>編集/削除</th>
  </tr>
<%= render :partial => "companies/comment3", :collection => @company.comments, :as => "comment3", :locals => {:company => @company} %>
</tbody>
</table>

</br>
</br>

<%= form_for([@company, @company.comments.build]) do |f| %>

<table width="90%" class ="inside">
<tbody>
<tr>
<th>制度</th>
<th>進捗</th>
<th>制度開始日</th>
<th>実施日</th>
<th>支給開始日</th>
<th>コメント</th>
</tr>
<tr>
<td><%= f.select(:system_each_name,[
["（企）職業能力評価制度","（企）職業能力評価制度"],
["（形）職業能力評価制度","（形）職業能力評価制度"],
["（形）セルフキャリアドッグ制度","（形）セルフキャリアドッグ制度"],
["（形）技能検定合格報奨金制度）","（形）技能検定合格報奨金制度"],
["（形）教育訓練休暇等制度）","（形）教育訓練休暇等制度"],
["（人）セルフキャリアドッグ制度）","（人）セルフキャリアドッグ制度"],
["（人）技能検定合格報奨金制度","（人）技能検定合格報奨金制度"],
["（人）教育訓練休暇等制度","（人）教育訓練休暇等制度"],
["東京都キャリアアップ助成金","東京都キャリアアップ助成金"],
["人事評価改善等助成金","人事評価改善等助成金"],
["職場定着支援等助成金","職場定着支援等助成金"],
]) %>
</td>
<td><%= f.select(:system_progress,[
["1.申込フォーム到着","1.申込フォーム到着"],
["2.書類作成中(計画)","2.書類作成中(計画)"],
["3.書類返送待（計画）","3.書類返送待（計画）"],
["4.提出準備中（計画）","4.提出準備中（計画）"],
["5.提出中・受理（計画）","5.提出中・受理（計画）"],
["6.制度未実施","6.制度未実施"],
["7.制度実施済","7.制度実施済"],
["8.書類作成中（支給）","8.書類作成中（支給）"],
["9.書類返送待（支給）","9.書類返送待（支給）"],
["10.提出準備中（支給）","10.提出準備中（支給）"],
["11.提出中・受理（支給）","11.提出中・受理（支給）"],
["12.入金","12.入金"],
["13.ストップ案件","13.ストップ案件"],
]) %>
</td>
<td><%= f.date_field :system_start %></td>
<td><%= f.date_field :system_implementation %></td>
<td><%= f.date_field :system_supply %></td>
<td><%= f.text_area :system_comment %></td>
<%= f.hidden_field :status, :value => :system %>
</tr>
<tr>
<th colspan="6">
<%= f.submit %>
</th>
</tr>
</tbody>
</table>
<% end %>
</div>
</div>
</br>
</br>


															<!-- 対応履歴 -->

<%= form_for([@company, @company.comments.build]) do |f| %>
<table width="90%">
	<tbody>
		<caption class="heading">コメント</caption>
		<tr>
			<th>コメント</th>
			<th><%= f.text_area :body %></th>
			<th><%= f.submit %></th>
		</tr>
	</tbody>
</table>
<%end%>

<table width="90%">
<% if @company.comments.any? %>
	<tbody>
	<% @company.comments.each do |comment| %>
	<% if comment.body.present? %>
		<tr>
			<td><%= comment.created_at%></td>
			<td>
				<div id="<%=comment.id %>-comment-body" class="comment-body">
				<%= comment.body %></div>
			</td>
			<td><%= link_to '[削除]', company_comment_path(company_id: @company.id, id: comment.id), method: :delete, class: 'command', data: { confirm: '本当に削除しますか？' } %></td>
	   </tr>
		<% end %>
	<%end%>
	</tbody>
</table>
<%end%>
</br>
</br>
</br>


														<!-- データ保存 -->
<%= form_for([@company, @company.comments.build]) do |f| %>
<table width="90%">
	<tbody>
		<caption class="heading">データ添付</caption>
		<tr>
			<th colspan = "2">データ添付</th>
		</tr>
			<tr>
			<td>
				<%= f.text_field :term_data, id: :book_term_data %>
				<%= f.hidden_field :status, :value => :term_data %>
				<%= f.file_field :picture, id: :book_picture %>
				<%= f.hidden_field :status, :value => :picture %>
			</td>
		</tr>
		<tr>
			<th colspan="4">
				<%= f.submit %>
			</th>
		</tr>
	</tbody>
</table>
<% end %>


<table width="90%"  data-turbolinks="false">
	<tbody>
				<% if @company.comments.any? %>
				<% @company.comments.all.reverse_order.each do |comment| %>
				<% if comment.picture.present? %>
		<tr>
			<td>
				<%= comment.term_data %>
			</td>
			<td>
				<%= link_to 'delete', company_comment_path(company_id: @company.id, id: comment.id), method: :delete, class: 'command', data: { confirm: '本当に削除しますか？' } %>
			</td>
			<td>
				<%= link_to 'view', comments_view_company_path(comment), {action: "view", id: comment.id} %>
			</td>
			<td>
				<%= link_to 'download',comments_pdf_company_path(comment), :class => 'btn btn-default btn-xs' %>
			</td>
				<% end %>
				<% end %>
				<%end%>
		</tr>
	</tbody>
</table>

</br>
</br>
</div>

														<!-- 請求書発行 -->

<div class="heading"><h3><%=link_to "請求書新規作成", new_invoice_path(company: @company) %></h3></div>
<table>
   <% @company.invoices.each do |invoice| %>
    <tr>
        <td><%=link_to invoice.subject, invoice_path(invoice) %></td>
        <td><%= invoice.summary %></td>
    </tr>
   <% end%>
</table>