 <div class="beige-wrapper">

            <div class="heading"><h2>ドキュメント</h2>
            </div>
       <% @upload = UploadFile.new %>
    <%= form_for @upload, :url => {:action => :upload} do |f| %>
    <table width="90%">
        <tbody>
            <tr>
                <th>ファイル名</th>
                <th>ファイル添付</th>
　       </tr>
           <tr>
                <td><%= f.text_field :name %></td>
                <td><%= f.file_field :file %></td>
           </tr>
           <tr>
                <td colspan = "2"><%= f.submit "アップロード" %></td>
           </tr>
        </tbody>
    </table>
    <% end %>
<br>
<br>

    <table width="90%" data-turbolinks="false">
     <tbody>
        <tr>
          <th>ファイル名</th>
          <th>ダウンロード</th>
          <th>編集/削除</th>
        </tr>
        <% UploadFile.all.reverse_order.each do |upload| %>
        <tr>
            <td><%= link_to upload.name, {action: "view", id: upload.id}%></td>
            <td><%= link_to "download", {action: "download", id: upload.id}, class:"btn btn-danger" %></td>
            <td><%= link_to '編集', edit_uploader_path(upload), class: 'command'%>
			            ｜ <%= link_to '削除',
			            	uploader_path(upload),
			            	method: :delete,
			            	class: 'command',
			            	data: { confirm: '本当に削除しますか？'} %></td>
        </tr>
      　<% end %>
      </tbody>
    </table>

 </div>
