<div class="heading"><h2>ステータス編集</h2></div>
<%- set_meta_tags noindex: true %>	
<%= form_for :contact_tracking,method: "put",url:'/sendlist/'+@contact_tracking.id.to_s do |f| %>
<table width="90%">
  <col width="25%">
  <col width="20%">
  <col width="25%">
  <col width="15%">
  <col width="15%">

  <tr>
  	<th>企業名</th>
  	<th>URL</th>
    <th>ステータス</th>
    <th>最終送信日時</th>
    <th>URLアクセス日時</th>
  </tr>
  <tr>
  	<td><%= @contact_tracking.customer.company %></td>
  	<td><%= @contact_tracking.customer.url.truncate(30) %></td>
    <td><%= f.select(:status, ["送信済","送信不可","営業NG","自動送信予定","自動送信エラー","メールAPP","送信NG"]) %></td>
    <td><%= @contact_tracking&.sended_at %></td>
    <td><%= @contact_tracking&.callbacked_at %></td>
  </tr>
  <tr>
     <th colspan="5"><%= f.submit %></th>
  </tr>
</table>
</div>
  <% end %>