<%= form_for @prefecture do |f| %>

<table>
		<tr>
			   <th>各労働局情報（最低賃金）</th>
			   <th>該当助成金</th>
			   <th>提出方法</th>
			   <th>電話番号</th>
	           <th>郵便番号</th>
	           <th>住所</th>
	    	   <th>注意点</th>
		</tr>
		<tr>
			   <td><%= f.select(:product_type,[
               ["01北海道労働局(810円)","1"],
               ["13東京労働局(954円)","13"],
                ]) %></td>
			   <td><%= f.select(:product_type,[
               ["キャリアアップ助成金","キャリアアップ助成金"],
               ["キャリア形成促進助成金","キャリア形成促進助成金"],
               ["人材開発支援等助成金","人材開発支援等助成金"],
               ["有期実習型訓練","有期実習型訓練"],
               ["勤務間インターバル","勤務間インターバル"],
                ]) %></td>
			   <td><%= f.select(:method,[
               ["窓口","窓口"],
               ["郵送","郵送"],
               ]) %></td>
			   <td><%= f.text_field :tel %></td>
			   <td><%= f.text_field :post %></td>
		       <td><%= f.text_area :address %></td>
           	   <td><%= f.text_area :point %></td>
        </tr>
			<td colspan="8">   <%= f.submit %>  </td>
</table>


<% end %>