<div id="wrapper">

 <div class="heading"><h2>ToDoリスト</h2>
  <p>Todo List</p>
    <table width="80%">
      <col width= "5%">
      <col width= "20%">
      <col width= "35%">
      <col width= "10%">
      <col width= "10%">
      <col width= "10%">
      <col width= "10%">
      <tr>
        <th></th>
        <th>題名</th>
        <th>内容</th>
        <th>担当者</th>
        <th>状態</th>
        <th>期日</th>
        <th>削除</th>
      </tr>
        <% @todos.each do |todo| %>
      <tr>
        <th><%= todo.execution %></th>
        <td><%= todo.title %></td>
        <td><%= todo.contents %></td>
        <td><%= todo.name %></td>
        <td><%= todo.state %></td>
        <td><%= todo.deadline %></td>
        <td><%= link_to '削除',
              todo_path(todo),
              method: :delete,
              class: 'command',
              data: { confirm: '本当に削除しますか？'} %></td>
      </tr>
      <%end%>
    </table>


<br>
<br>

      <div class="heading"><h2>FAQ新規登録</h2>
        <p>FAQ regstration</p></div>
  <%= form_for @todo do |f|%>
  <table width="80%">
    <col width= "5%">
    <col width= "20%">
    <col width= "35%">
    <col width= "10%">
    <col width= "10%">
    <col width= "10%">
    <tr>
      <th></th>
      <th>題名</th>
      <th>内容</th>
      <th>担当者</th>
      <th>状態</th>
      <th>期日</th>
    </tr>
    <tr>
      <th><%= f.check_box :execution %></th>
      <td><%= f.text_field :title %></td>
      <td><%= f.text_field :contents %></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :state %></td>
      <td><%= f.text_field :deadline %></td>
    </tr>
    <tr>
      <td colspan="6"><%= f.submit "登録" %></td>
    </tr>
  </table>
  <%end%>
