=form_for @faq, remote: true, html:{id:"faq-show-update"} do |f|
  %ul#faq-show-list.list-group
    %li.list-group-item
      .row
        .col-3 タイトル
        #faq-title-show.col-6= @faq.title
        #faq-title-c-input-field.col-6.none= f.text_field :title, {class:"t-input-field"}
        %div{class: "edit-link-show", data:{v:"faq-title"} } 編集
    %li.list-group-item
      .row
        .col-3 種類
        #faq-select-show.col-6= @faq.select
        #faq-select-c-input-field.col-6.none= f.text_field :select, {class:"t-input-field"}
        %div{class: "edit-link-show", data:{v:"faq-select"} } 編集
    %li.list-group-item
      .row
        .col-3 コンテンツ
        #faq-contents-show.col-6= @faq.contents
        #faq-contents-c-input-field.col-6.none= f.text_field :contents, {class:"t-input-field"}
        %div{class: "edit-link-show", data:{v:"faq-contents"} } 編集
