<div id="wrapper">

        <div class="heading"><h2>FAQ リスト</h2>
        <p>FAQ List</p>
        
        <%= form_for @faq do |f|%>
            <%= f.text_field :title %>
            <%= f.hidden_field :select,{id: "faq-select"} %>
            <%= f.submit '登録', data: { confirm: '登録しますか？'}%>
        <%end%></div>
        
  <div class="row">
    <div id="todos-left" class="col-4">
      <%= render partial: 'faqs/faq_left' %>
    </div>

    <div id="todos-center" class="col-4">
      <%= render partial: 'faqs/faq_center' %>
   </div>


    <div id="todos-right" class="col-4">
    </div>
  </div>

