<%= form_for([company, comment]) do |f| %>
<table width="100%">
  <tbody>
    <caption class="heading">各制度コース</caption>

    <tr>
      <th colspan="2">進捗</th>
      <th colspan="2">制度開始日</th>
    </tr>
    <tr>
      <td colspan="2"><%= f.select(:system_progress,[ ["A書類作成中(計画)","A書類作成中(計画)"], ["B書類返送待（計画）","B書類返送待（計画）"], ["C提出準備中（計画）","C提出準備中（計画）"], ["D提出中・受理（計画）","D提出中・受理（計画）"], ["E 制度案内済","E 制度案内済"], ["F 書類整理完了","F 書類整理完了"], ["G 書類作成中（支給）","G 書類作成中（支給）"], ["H
        書類返送待（支給）","H 書類返送待（支給）"], ["I 提出準備中（支給）","I 提出準備中（支給）"], ["J 提出中・受理（支給）","J 提出中・受理（支給）"], ["K 入金","K 入金"], ["Zストップ案件","Zストップ案件"], ], selected: comment.system_progress) %>
      </td>
      <td colspan="2"><%= f.date_field :system_start, :value => comment.system_start %></td>
    </tr>
    <tr>
      <th>助成金</th>
      <th>制度</th>
      <th>実施日</th>
      <th>支給申請開始日</th>
    </tr>
    <tr>
      <td><%= f.text_field :system_subsidyname %></td>
      <td><%= f.select(:system_each_name,[ ["企業内人材開発推進助成金（職業能力評価制度）","企業内人材開発推進助成金（職業能力評価制度）"], ["キャリア形成促進助成金（職業能力評価制度）","キャリア形成促進助成金（職業能力評価制度）"], ["キャリア形成促進助成金（セルフキャリアドッグ制度）","キャリア形成促進助成金（セルフキャリアドッグ制度）"],
        ["キャリア形成促進助成金（技能検定合格報奨金制度）","キャリア形成促進助成金（技能検定合格報奨金制度）"], ["キャリア形成促進助成金（教育訓練休暇等制度）","キャリア形成促進助成金（教育訓練休暇等制度）"], ["人材開発支援等助成金（セルフキャリアドッグ制度）","人材開発支援等助成金（セルフキャリアドッグ制度）"], ["人材開発支援等助成金（技能検定合格報奨金制度）","人材開発支援等助成金（技能検定合格報奨金制度）"],
        ["人材開発支援等助成金（教育訓練休暇等制度）","人材開発支援等助成金（教育訓練休暇等制度）"], ], selected: comment.system_each_name) %>
      </td>
      <td><%= f.date_field :system_implementation, :value => comment.system_implementation %></td>
      <td><%= f.date_field :system_supply, :value => comment.system_supply %></td>
      <%= f.hidden_field :status, :value => :system %>
    </tr>
    <tr>
      <th colspan="4">コメント</th>
    </tr>
    <tr>
      <td colspan="4"><%= f.text_area :system_comment, :value => comment.system_comment %></td>
    </tr>
    <tr>
      <th colspan="4">
        <%= f.submit %>
      </th>
    </tr>
  <%end%>
</tbody>
</table>