<% if comment3.system? %>

<table class="comments" width="90%">
  <tr>
    <th>制度</th>
    <th>進捗</th>
    <th>制度開始日</th>
    <th>実施日</th>
    <th>支給開始日</th>
    <th>コメント</th>
    <th>編集/削除</th>
  </tr>
    <td><%= comment3.system_each_name %></td>
    <td><%= comment3.system_progress %></td>
    <td><%= comment3.system_start %></td>
    <td><%= comment3.system_implementation %></td>
    <td><%= comment3.system_supply %></td>
    <td><%= comment3.system_comment %></td>
    <td class="comment-edit-detail" data-id="<%=comment3.id %>" ><%= "編集" %>｜<%= link_to '[削除]', company_comment_path(company_id: company.id, id: comment3.id), method: :delete, class: 'command', data: { confirm: '本当に削除しますか？' } %>
    </td>
</tr>
<tr id="<%=comment3.id %>-comment-edit-detail-field" class="none comment-edit-detail-field">
  <td colspan="7">
    <%= render :partial => "companies/comment_system_form", :locals => {:company => company, :comment => comment3} %>
  </td>
</tr>
</table>
<% end %>

