= mail_to "", '一括メール', id: "company-mail-link", body: "samplesample...", subject: "件名", class: "btn btn-primary"
= link_to '一括更新', comments_bulk_edit_path, remote: true, id: "comment-uploads-link", class: "btn btn-primary"
= link_to '一括削除', comments_bulk_destroy_path, method: :delete, id: "comment-destroy-link", class: "btn btn-primary",data: {confirm: "本当に削除しますか？"}

%table{width: "90%", class:"tablesorter", id:"company-index-table"}
  %thead
    %tr
      %th
      %th 会社名
      %th 進捗
      %th 申込者
      %th 入社日
      %th 転換日
      %th 支給申請開始日
  %tbody
    - comments.each do |comment|
      %tr
        %td= check_box 'company', 'check', {:id => "#{comment.company.id}", :class=>"company-checkbox", :data=>{:email=>"#{comment.company.e_mail}", :comment_id=>"#{comment.id}"}}, true, false
        %td= link_to comment.company.company, company_path(comment.company)
        %td= comment.carriaup_progress
        %td= comment.carriaup_each_name
        %td= comment.carriaup_each_limited_start
        %td= comment.carriaup_each_regular
        %td= comment.carriaup_each_supply
.companies-pagenate
  = paginate comments

/ <div class="modal fade" id="company-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div
