
    <div class="heading"><h2>顧客一覧</h2>
            <p>Customer List  <%= link_to '(New regstration)', '/companies/new' %></p>
            </br>
            </br>
            <%= search_form_for @q do |f|  %>
                <%= f.search_field :company_cont,  type: "text"  %>
                <%= submit_tag "検索" %>
            <%end%>
            </br>
            </br>
            </br>
            <%= link_to 'キャリアアップ助成金', companies_path(company: '[desc]'), class:"square_btn" %>
            <%= link_to '有期実習型訓練', companies_path(sort: '[]'), class:"square_btn" %>
            <%= link_to '（企）職業能力評価制度', companies_path(sort: '[]'), class:"square_btn" %>
            <%= link_to '（形）職業能力評価制度', companies_path(sort: '[]'), class:"square_btn" %>
            <%= link_to '（形）セルフキャリアドッグ制度', companies_path(sort: '[]'), class:"square_btn" %>
            <%= link_to '（形）教育訓練休暇等制度', companies_path(sort: '[]'), class:"square_btn" %>
            <%= link_to '（人）セルフキャリアドッグ制度', companies_path(sort: '[]'), class:"square_btn" %>
            <%= link_to '（人）教育訓練休暇等制度', companies_path(sort: '[]'), class:"square_btn" %>
            	</div>
	<%= render 'index'%>
</br>
</br>

            <div class="heading"><h2>新規インポート</h2>
            <p>New Imort Registration</p></div>

<table width= "90%">
    <tbody>
        <%= form_tag import_companies_path, multipart: true do %>
        <tr>
            <th><%= file_field_tag :file %></th>
            <td><%= submit_tag "インポート" %></td>
        </tr><% end %>
    </tbody>
</table>