<%= form_for @crm do |f| %>
<table>
  <tr>
    <th>会社名</th>
    <td><%= f.text_field :company %></td>
    <th>メールアドレス</th>
    <td><%= f.email_field :mail %></td>
  </tr>
  <tr>
    <th>代表者</th>
    <td><%= f.text_field :first_name %></td>
    <th>担当者</th>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= f.telephone_field :tel %></td>
    <th>携帯番号</th>
    <td><%= f.telephone_field :mobile %></td>
  <tr>
    <th>URL</th>
    <td><%= f.text_field :fax %></td>
    <th>取扱商材</th>
    <td><%= f.text_field :item %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td colspan="3"><%= f.text_field :prefecture, class:"long-text" %></td>
  </tr>
</table>

<br>

<table>
   <tr>
     <th>ステータス</th>
     <td><%= f.select(:statu, Crm.SfaStatus,  include_blank: true) %></td>
     <th>過去アポ利用履歴</th>
     <td><%= f.radio_button :history, "Yes" %>ある
        <%= f.radio_button :history, "No" %>ない
        <%= f.radio_button :history, "what" %>不明</td>
   </tr>
   <tr>
     <th>見積金額</th>
     <td><%= f.number_field :price %>円</td>
     <th>件数</th>
     <td><%= f.number_field :number %>件</td>
   </tr>
   <tr>
     <th>エリア</th>
     <td><%= f.text_field :area %></td>
     <th>アポイントレベル</th>
     <td><%= f.text_field :target %></td>
   </tr>
   <tr>
     <th>次回営業日</th>
     <td><%= f.datetime_field :next %></td>
     <th></th>
     <td></td>
   <tr>
     <th>サービス内容</th>
     <td colspan ="3"><%= f.text_area :content, class:"big-area" %></td>
   </tr>
   <tr>
     <th>コメント</th>
     <td colspan ="3"><%= f.text_area :comment, class:"big-area" %></td>
   </tr>
   <tr>
     <td colspan ="4"><%= f.submit "登録" %></td>
   </tr>
  </table>

<% end %>
