<div  class="heading"><h2>顧客一覧</h2>(<%= link_to "新規登録", new_crm_path %>)</div>
<table width="90%">
  <col width="20%">
  <col width="15%">
  <col width="15%">
  <col width="20%">
  <col width="20%">
  <col width="10%">
  <tr>
    <th>会社名</th>
    <th>代表者</th>
    <th>電話番号</th>
    <th><%= sort_link(@q, :statu, "ステータス") %></th>
    <th>次回営業日</th>
    <th>編集 | 削除</th>
  </tr>
  <% @crms.each do |crm| %>
  <tr>
    <td><%= link_to crm.company, crm_path(crm) %></td>
    <td><%= crm.first_name %><%= crm.last_name %></td>
    <td><%= crm.tel %></td>
    <td><%= crm.statu %></td>
    <td><%= crm.next %></td>
    <td><%= link_to '編集', edit_crm_path(crm), class: 'command'%>
    <%= link_to '削除',
      crm_path(crm),
      method: :delete,
      class: 'command',
      data: { confirm: '本当に削除しますか？'} %></td>
  </tr>
  <% end %>
</table>


<div  class="heading"><h2>インポート</h2></div>
<%= form_tag import_crms_path, multipart: true do %>
<table width="90%">
  <tbody>
     <tr>
        <th colspan="3">CSVファイルインポート</th>
     </tr>
     <tr>
        <td><%= file_field_tag :file %></td>
        <th><%= submit_tag "インポート",  class: 'btn btn-danger' %></th>
     </tr>
 </tbody>
</table>
<% end %>
