<div  class="heading"><h2>顧客情報</h2></div>
  <table>
   <tr>
     <th>会社名</th>
     <td><%= @crm.company %></td>
     <th>メールアドレス</th>
     <td><%= @crm.mail %></td>
   </tr>
   <tr>
     <th>代表者</th>
     <td><%= @crm.first_name %><%= @crm.last_name %></td>
     <th>ダイヒョウシャ</th>
     <td><%= @crm.first_kana %><%= @crm.last_kana %></td>
   </tr>
   <tr>
   <tr>
     <th>担当者</th>
     <td><%= @crm.first_name %><%= @crm.last_name %></td>
     <th>タントウシャ</th>
     <td><%= @crm.first_kana %><%= @crm.last_kana %></td>
   </tr>
   </tr>
   <tr>
     <th>電話番号</th>
     <td><%= @crm.tel %></td>
     <th>担当者連絡先</th>
     <td></td>
   <tr>
     <th>FAX番号</th>
     <td><%= @crm.fax %></td>
     <th>URL</th>
     <td></td>
   </tr>
   <tr>
     <th>郵便番号</th>
     <td>〒<%= @crm.postnumber %></td>
     <th>都道府県</th>
     <td><%= @crm.prefecture %></td>
   </tr>
   <tr>
     <th>市町村</th>
     <td><%= @crm.city %></td>
     <th>番地</th>
     <td><%= @crm.town %></td>
   </tr>
   <tr>
     <th>ビル名</th>
     <td><%= @crm.building %></td>
     <th>取扱商材</th>
     <td><%= @crm.item %></td>
   </tr>
   <tr>
     <th>進捗</th>
     <td></td>
     <th>編集/削除</th>
     <td><%= link_to "編集", edit_crm_path(@crm), class:"btn btn-danger" %>
        　<%= link_to "削除", crm_path(@crm), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger" %>
     </td>
   </tr>
  </table>




<div class="heading"><h2>進捗</h2></div>
  <table>
   <tr>
     <th>ステータス</th>
     <td></td>
     <th>過去アポ利用履歴</th>
     <td></td>
   </tr>
   <tr>
     <th>単価</th>
     <td></td>
     <th>件数</th>
     <td></td>
   </tr>
   <tr>
   <tr>
     <th>エリア</th>
     <td></td>
     <th>対象者</th>
     <td></td>
   </tr>
   </tr>
   <tr>
     <th>次回営業日</th>
     <td></td>
     <th></th>
     <td></td>
   <tr>
     <th colspan="2">サービス内容</th>
     <td colspan="2"></td>
   </tr>
   <tr>
     <th colspan="2">コメント</th>
     <td colspan="2"></td>
   </tr>
  </table>

<div class="heading"><h2>ファイル添付</h2></div>

<div class="heading"><h2>faq</h2></div>

<div class="heading"><h2>請求書</h2></div>

<div class="heading"><h2>獲得一覧</h2></div>

<div class="heading"><h2>送付状</h2></div>
