<div  class="heading"><h2>顧客情報</h2></div>
  <table width="90%">
    <col width="20%">
    <col width="30%">
    <col width="20%">
    <col width="30%">
   <tr>
     <th>会社名</th>
     <td><%= @crm.company %></td>
     <th>メールアドレス</th>
     <td><%= @crm.mail %></td>
   </tr>
   <tr>
     <th>代表者</th>
     <td><%= @crm.first_name %><%= @crm.last_name %></td>
     <th>担当者</th>
     <td><%= @crm.first_name %><%= @crm.last_name %></td>
   </tr>
   <tr>
     <th>電話番号</th>
     <td><%= @crm.tel %></td>
     <th>携帯番号</th>
     <td><%= @crm.mobile %></td>
   <tr>
     <th>URL</th>
     <td><%= @crm.fax %></td>
     <th>取扱商材</th>
     <td><%= @crm.item %></td>
   </tr>
   <tr>
     <th>住所</th>
     <td colspan="2"><%= @crm.prefecture %><%= @crm.city %><%= @crm.town %><%= @crm.building %></td>
     <td><%= link_to "編集", edit_crm_path(@crm), class:"btn btn-danger" %>
        　<%= link_to "削除", crm_path(@crm), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger" %>
     </td>
   </tr>
  </table>




<div class="heading"><h2>進捗</h2></div>
<table width="90%">
  <col width="20%">
  <col width="30%">
  <col width="20%">
  <col width="30%">
   <tr>
     <th>ステータス</th>
     <td><%= @crm.statu %></td>
     <th>過去アポ利用履歴</th>
     <td><%= @crm.history %></td>
   </tr>
   <tr>
     <th>見積金額</th>
     <td><%= @crm.price %>円</td>
     <th>件数</th>
     <td><%= @crm.number %>件</td>
   </tr>
   <tr>
   <tr>
     <th>アポイントレベル</th>
     <td><%= @crm.area %></td>
     <th>対象者</th>
     <td><%= @crm.target %></td>
   </tr>
   <tr>
     <th>次回営業日</th>
     <td><%= @crm.next %></td>
     <th></th>
     <td></td>
   <tr>
     <th>サービス内容</th>
     <td colspan="3"><%= @crm.content %></td>
   </tr>
   <tr>
     <th>コメント</th>
     <td colspan="3"><%= @crm.comment %></td>
   </tr>
  </table>




<div class="heading"><h2>ファイル添付</h2></div>
<% if @crm.images.any? %>
<table width="90%">
       <tr>
         <th>名称</th>
         <th>ダウンロード</th>
         <th>削除</th>
       </tr>
  <% @crm.images.all.reverse_order.each do |image| %>
  <% if image.image.present? %>
    　 <tr>
         <td><%= image.name %></td>
         <td><%= link_to 'download', images_pdf_crm_path(image), download: "ダウンロードしました。"  %></td>
         <td><%= link_to "削除", crm_image_path(crm_id: @crm.id, id: image.id),
                                method: :delete,
                                data: { confirm: '本当に削除しますか？'} %></td>
     　</tr>
  <% end %>
  <% end %>
</table>
<% end %>
<%= form_for ([@crm, @crm.images.build]) do |f| %>
<table width="90%">
    　 <tr>
         <td><%= f.text_field :name %><%= f.hidden_field :views, :value => :name %></td>
         <td><%= f.file_field :image, id: :book_image %><%= f.hidden_field :views, :value => :image %></td>
         <td><%= f.submit "登録" %></td>
     　</tr>
</table>
<% end %>



<div class="heading"><h2>コメント</h2></div>
<% if @crm.comments.any? %>
<table width="90%">
   <col width="90%">
   <col width="10%">
   <tr>
     <th>内容</th>
     <th>編集/削除</th>
   </tr>
    <% @crm.comments.each do |comment| %>
    <tr>
      <td><%= comment.body %></td>
      <td><%= link_to '削除',
                      crm_comment_path(crm_id: @crm.id, id: comment.id),
                      method: :delete,
                      data: { confirm: '本当に削除しますか？'} %></td>
     </tr>
     <% end %>
<% end %>
</table>
<%= form_for ([@crm, @crm.comments.build]) do |f| %>
<table width="90%">
  <col width="90%">
  <col width="10%">
 　 <tr>
     <td><%= f.text_area :body %></td>
     <td><%= f.submit '登録' %></td>_
   </tr>
</table>
　<% end %>


<div class="heading"><h2>獲得一覧</h2></div>
<% if @crm.acquisitions.any? %>
<table width="90%">
   <col width="20%">
   <col width="20%">
   <col width="0%">
   <col width="10%">
   <col width="20%">
   <col width="10%">
   <tr>
     <th>会社名</th>
     <th>獲得日</th>
     <th>獲得者</th>
     <th>ステータス</th>
     <th>最終更新日</th>
     <th>編集/削除</th>
   </tr>
    <% @crm.acquisitions.each do |acquisition| %>
    <tr>
      <td><%= acquisition.company %></td>
      <td><%= acquisition.day %></td>
      <td><%= acquisition.name %></td>
      <td><%= acquisition.statu %></td>
      <td><%= acquisition.created_at %></td>
      <td><%= link_to '削除',
                      crm_acquisition_path(crm_id: @crm.id, id: acquisition.id),
                      method: :delete,
                      data: { confirm: '本当に削除しますか？'} %></td>
     </tr>
     <% end %>
<% end %>
</table>
<%= form_for ([@crm, @crm.acquisitions.build]) do |f| %>
<table width="90%">
  <col width="20%">
  <col width="20%">
  <col width="20%">
  <col width="20%">
  <col width="20%">
 　 <tr>
     <td><%= f.text_field :company %></td>
     <td><%= f.datetime_field :day %></td>
     <td><%= f.text_field :name %></td>
     <td><%= f.select(:statu,[
             "アポ",
             "業種NG",
             "キャンセル",
             "要確認"
             ]) %></td>
     <td><%= f.submit '登録' %></td>
   </tr>
</table>
<% end %>
