  <div class="inquiry-wrapper">
     <h1>Inquiry Page</h1>
  </div>

 <div class="sub-wrapper">
   <div class="heading"><h2>Privacy Policy</h2>
   <p>個人情報の取り扱いについて</p></div>
                
<p>こちらの個人情報保護方針をご確認ください。</p>

<p>当社では、「プライバシーポリシー」を定め、個人情報の保護に取り組んでいます。</p>
<p>当社が取得するお客様の個人情報については、</p>
<p>「個人情報保護に関する公表事項」に定める範囲内で取扱い利用させていただいております。</p>

<p>入力頂いた個人情報を、当社は次の目的で利用させていただきます。</p>
<p>利用目的 ： お問合せに対するご回答またはご連絡のため</p>

</div>


  <div class="base-wrapper">
    <div class="heading"><h2>お問い合わせフォーム</h2>
    <p>Contact Form</p></div>

<%= form_for @contact, :url => contact_confirm_path do |f| %>     
  <% if @contact.errors.any? %>
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @contact.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
     
  <table>
            			<colgroup>
            			<col width="40%">
            			<col width="60%">
       			　 </colgroup>
    <tr>
      <th>名前（必須）</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>メールアドレス（必須）</th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td><%= f.text_area :message %></td>
    </tr>
  </table>
  <%= f.submit '確認' %>
<% end %>
</div>