  <%= form_for @company do |f| %>

  <!-- 会社情報 -->

  <table width = "90%">
    <tbody>
      <tr>
        <th>会社名</th>
        <td><%= text_field :company, :company%>
          <% if @company.errors.messages[:company].any? %>
            <span class="error">
              <@post.errors.messages[:company][0] %="%"></span>
            <% end %>
          </td>
          <th>メールアドレス</th>
          <td><%= email_field :company, :e_mail %></td>
        </tr>
        <tr>
          <th>姓</th>
          <td><%= text_field :company, :first_name%></td>
        </td>
        <th>名</th>
        <td><%= text_field :company, :last_name%></td>
      </tr>
      <tr>
        <th>セイ</th>
        <td><%= text_field :company, :first_kana%></td>
        <th>メイ</th>
        <td><%= text_field :company, :last_kana%></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= telephone_field :company, :tel %></td>
        <th>携帯番号</th>
        <td><%= telephone_field :company, :mobile %></td>
      </tr>
      <tr>
        <th>FAX番号</th>
        <td><%= telephone_field :company, :fax %></td>
        <th>郵便番号</th>
        <td>〒<%= number_field :company, :postnumber%>
        </td>
      </tr>
      <tr>
        <th>都道府県</th>
        <td><%= text_field :company, :prefecture%></td>
        <th>市町村</th>
        <td><%= text_field :company, :city%></td>
      </tr>
      <tr>
        <th>市町村以降</th>
        <td><%= text_field :company, :town%></td>
        <th>資本金</th>
        <td><%= text_field :company, :caption%>万円</td>
      </tr>
      <tr>
        <th>労働保険番号</th>
        <td><%= number_field :company, :labor_number%></td>
        <th>雇用保険番号</th>
        <td><%= number_field :company, :employment_number%></td>
      </tr>
    </tbody>
  </table>


  <!-- 就業規則 -->

  <table width = "90%">
    <tbody>
      <caption class="heading">就業規則情報</caption>
      <tr>
        <th>会社名</th>
        <td></td>
        <th>試用期間開始</th>
        <td><%= number_field :company, :trial_period%>ヶ月</td>
      </tr>
      <tr>
        <th>勤務開始時間</th>
        <td><%= time_field :company, :work_start%></td>
        <th>勤務終了時間</th>
        <td><%= time_field :company, :work_out%></td>
      </tr>
      <tr>
        <th>休憩開始時間</th>
        <td><%= time_field :company, :break_in%></td>
        <th>休憩終了時間</th>
        <td><%= time_field :company, :break_out%></td>
      </tr>
      <tr>
        <th>法定休日</th>
        <td><%= f.select(:holiday, [["日曜日", "Sunday"],["月曜日", "Monday"],["火曜日", "Tuesday"],["水曜日", "Wednesday"],["木曜日", "Thursday"],["金曜日", "Friday"],["土曜日", "Saturday"],["なし", "None"]]) %></td>
        <th>支払方法</th>
        <td><%= f.select(:method_payment, [["現金", "現金"],["口座振込", "口座振替"]]) %></td>
      </tr>
      <tr>
        <th>手当</th>
        <td><%= text_field :company, :allowance%>手当</td>
        <th>手当詳細</th>
        <td><%= text_field :company, :allowance_contents%></td>
      </tr>
      <tr>
        <th>結合給料締日</th>
        <td><%= number_field :company, :closing_on%>日</td>
        <th>結合給料支払日</th>
        <td><%= number_field :company, :payment_on%>日</td>
      </tr>
      <tr>
        <th>
          控除
          </br>
          <small>例）雇用保険・厚生年金・健康保険・源泉徴収</small>
        </th>
        <td colspan="3">
            <%= radio_button :company, :desuction,'雇用保険'%>雇用保険
            <%= radio_button :company, :desuction,'厚生年金'%>厚生年金
            <%= radio_button :company, :desuction,'健康保険'%>健康保険
            <%= radio_button :company, :desuction,'介護保険'%>介護保険
            <%= radio_button :company, :desuction,'源泉徴収'%>源泉徴収
            <%= radio_button :company, :desuction,'住民税'%>住民税
        </td>
      </tr>
      <tr>
        <th colspan = "4" >
            <%= f.submit '登録', data: { confirm: '登録しますか？'}%>
        </th>
      </tr>
    </tbody>
  </table>

<% end %>