<!DOCTYPE html>
<html lang = "ja">
 <head>
       <title>顧客管理システム</title>
              <meta charset="utf-8">
              <meta http-equiv="X^UA-Compatible" content="IE=edge">
              <!--　レスポンシブの定義　-->
               <meta name="viewport" content="width=device-width, initial-scale=1,0">
               <%= csrf_meta_tags %>
                <%= stylesheet_link_tag    'application', media: 'all'%>
                <%= stylesheet_link_tag rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
                 <%= javascript_include_tag 'application' %>
</head>
<header>
    <div class="container">
      <div class="header-left">
                              <!-- ロゴ -->
            <%= link_to '/companies' do %>
                <%= image_tag("rogo.png", :class => "menu_icon")%>
            <% end %>
      </div>
      <div class="header-right">
           <%= link_to  '企業一覧', '/companies' %>
           <%= link_to  '請求書' , '/invoices' %>
           <%= link_to  '労働局情報', '/prefectures' %>
           <%= link_to  'ファイル', '/uploader/form' %>
           <%= link_to  'FAQ', '/faqs/'  %>
           <%= link_to  'メール', 'https://mail.google.com/mail/u/0/#inbox', :target=>["_blank"] %>
           <%= link_to  'ToDo', '/todos/' %>
           <% if admin_signed_in? %>
<!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
<!-- *_path はUserモデルを作成したときに、deviseにより自動で作成されてますので、rake routesで確認できます -->
        <strong><% current_admin.email  %></strong>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
<% else %>
            <%= link_to "ログイン(admin)", new_admin_session_path%>
 <% end %>

       </div>
    </div>

</header>

<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
    <%= yield %>
    </main>
</body>
</html>
