<!DOCTYPE html>
<html lang = "ja">
 <head>
       <title>助成金顧客進捗情報</title>
              <meta charset="utf-8">
              <!--　レスポンシブの定義　-->
               <meta name="viewport" content="width=device-width, initial-scale=1,0">
    
               <%= csrf_meta_tags %>

                <%= stylesheet_link_tag    'application', media: 'all'%>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
                 <%= javascript_include_tag 'application'%>
</head>
<header>
    <div class="container">
      <div class="header-left">
            <%= link_to '/tops/index' do %>
                <%= image_tag("rogo.png", :class => "menu_icon")%>
            <% end %>
      </div>
      <div class="header-right">
           <% if user_signed_in? %>
<!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
<!-- *_path はUserモデルを作成したときに、deviseにより自動で作成されてますので、rake routesで確認できます -->
        <strong><% current_user.email  %></strong>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
            <%= link_to "ログイン", new_user_session_path%>
 <% end %>

       </div>
    </div>

</header>

<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
    <%= yield %>
    </main>
</body>
</html>
