=form_for @todo, html:{id:"todo-show-update"} do |f|
  %ul#todo-show-list.list-group
    %li.list-group-item
      .row
        .col-3 タイトル
        #todo-title-show.col-6= @todo.title
        #todo-title-c-input-field.col-6.none= f.text_field :title, {class:"t-input-field"}
        %div{class: "edit-link-show", data:{v:"todo-title"} } 編集
    %li.list-group-item
      .row
        .col-3 期日
        #todo-deadline-show.col-6= @todo.deadline
        #todo-deadline-c-input-field.col-6.none= f.text_field :deadline, {class:"t-input-field"}
        %div{class: "edit-link-show", data:{v:"todo-deadline"} } 編集
    %li.list-group-item
      .row
        .col-3 状況
        #todo-state-show.col-6= @todo.state
        #todo-state-c-input-field.col-6.none= f.text_field :state, {class:"t-input-field"}
        %div{class: "edit-link-show", data:{v:"todo-state"} } 編集
    %li.list-group-item
      .row
        .col-3 担当者
        #todo-name-show.col-6= @todo.name
        #todo-name-c-input-field.col-6.none= f.text_field :name, {class:"t-input-field"}
        %div{class: "edit-link-show", data:{v:"todo-name"} } 編集
    %li.list-group-item
      .row
        .col-3 コンテンツ
        #todo-contents-show.col-6= @todo.contents
        #todo-contents-c-input-field.col-6.none= f.text_field :contents, {class:"t-input-field"}
        %div{class: "edit-link-show", data:{v:"todo-contents"} } 編集
    %li.list-group-item
      .row
        .col-3 種類
        #todo-select-show.col-6= @todo.select
        #todo-select-c-input-field.col-6.none= f.text_field :select, {class:"t-input-field"}
        %div{class: "edit-link-show", data:{v:"todo-select"} } 編集
