<div class="heading">
    <h2>新規ToDo登録</h2>
    <p>
        <%= form_for @todo do |f|%>
            <%= f.text_field :title %>
            <%= f.hidden_field :select,{id: "todo-select"} %>
            <%= f.submit '登録', data: { confirm: '登録しますか？'}%>
        <%end%>
    </p>
</div>

<ul>
    <% @todos.each do |todo|%>
    <li class="box"><%= link_to todo.title, todo_path(todo), remote: true  %>
                    <%= link_to '削除',
                        todo_path(todo),
                        method: :delete,
                        class: 'command',
                        data: { confirm: '本当に削除しますか？'} %></li>
    <% end %>
</ul>
