<div id="wrapper">

    <div id="todos-left">
        <ul>
            <li>井上社会保険労務士</li>
            <li>サイトー社会保険労務士</li>
            <li>事務</li>
            <li>営業</li>
            <li>毎月業務</li>
            <li>毎日業務</li>
        </ul>
    </div>

    <div id="todos-center">
        <div class="heading">
            <h2>新規ToDo登録</h2>
            <p>
                <%= form_for @todo do |f|%>
                    <%= f.text_field :title %>
                    <%= f.submit '登録', data: { confirm: '登録しますか？'}%>
                <%end%>
            </p>
        </div>

        <ul>
            <% @todos.each do |todo|%>
            <li class="box"><%= todo.title  %>
                                    <%= link_to '削除', 
			            	            todo_path(todo), 
			            	            method: :delete, 
			            	            class: 'command',
			            	            data: { confirm: '本当に削除しますか？'} %></li>
            <% end %>
        </ul>
   </div>

</div>

    <div id="todos-right">
    </div>

