<!DOCTYPE html>
<html lang = "ja">
<head>
  <title>顧客管理システム</title>
   <meta charset="utf-8">
   <meta http-equiv="X^UA-Compatible" content="IE=edge">
   <meta name="robots" content="noindex" />
  <!--　レスポンシブの定義　-->
   <meta name="viewport" content="width=device-width, initial-scale=1,0, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= stylesheet_link_tag rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
</head>
<header>
 <div class="container">
      <div class="header-right">
           <%= link_to  'TOP', '#' %>
           <%= link_to  'New', '/customers/new' %>
           　<!--分析や各Todoを表示（SFA分析をここに配置）-->
           <%= link_to  'MobileCTI', customers_path(type:"call", company:"[desc]") %>
           　<!--CTIをそのまま転用-->
           <%= link_to  'CRM', customers_path(type:"crm", company:"[desc]") %>
           　<!--全案件対応出来るように-->
           <%= link_to  'MailDM', '' %>
           　<!--メールDMをCRMから移行-->
           <%= link_to  'FAXDM', '' %>
           　<!--FAXDMはメールDMとベースは同じ-->
           <%= link_to  'File', '/uploader/form' %>
           　<!--微修正のみ-->
           <%= link_to  'FAQ', '/faqs/'  %>
           　<!--もう少し使いやすく-->
           <%= link_to  'Mail', 'https://mail.google.com/mail/u/0/#inbox', :target=>["_blank"] %>
           <%= link_to  'ToDo', '/todos/' %>
           　<!--実用性を持たせる-->
           <% if admin_signed_in? %>
      　　　  <strong><% current_admin.email  %></strong>
        　 <%= link_to "logout", destroy_admin_session_path, method: :delete %>
　　　　　　　　<% else %>
      　　　<%= link_to "Login", new_admin_session_path%>
 　　　　　　　<% end %>
       </div>
    </div>
</header>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <main>
    　<%= yield %>
  　</main>
</body>
</html>
