<!DOCTYPE html>
<html lang = "ja">
<head>
  <title>顧客管理システム</title>
   <meta charset="utf-8">
   <meta http-equiv="X^UA-Compatible" content="IE=edge">
   <meta name="robots" content="noindex" />
  <!--　レスポンシブの定義　-->
   <meta name="viewport" content="width=device-width, initial-scale=1,0, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= stylesheet_link_tag rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>

    <!--　ジャバスクリプト　-->
    <script src="js/jquery-3.3.1/slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

</head>
<header>
 <div class="container">
      <div class="header-right">
           <%= link_to  'TOP', '#' %>
           <%= link_to  'CTI', customers_path %>
           <%= link_to  'CRM', crms_path %>
           <%= link_to  'File', '/uploader/form' %>
           <%= link_to  'FAQ', '/faqs/'  %>
           <% if admin_signed_in? %>
      　　　  <strong><% current_admin.email  %></strong>
        　 <%= link_to "logout", destroy_admin_session_path, method: :delete %>
　　　　　　　　<% else %>
      　　　<%= link_to "Login", new_admin_session_path%>
 　　　　　　　<% end %>
       </div>
    </div>
</header>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <main>
    　<%= yield %>
  　</main>
</body>
</html>
