<!DOCTYPE html>
<html lang = "ja">
<head>
  <title>顧客管理システム</title>
   <meta charset="utf-8">
   <meta http-equiv="X^UA-Compatible" content="IE=edge">
   <meta name="robots" content="noindex" />
  <!--　レスポンシブの定義　-->
   <meta name="viewport" content="width=device-width, initial-scale=1,0, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>



</head>
<header>
 <div class="container">
      <div class="header-left">
         <%= link_to "/" do %>
          <%= image_tag "rogo.png", width:"200px" %>
         <% end %>
           <%= link_to  'CTI', customers_path %>
          <% if admin_signed_in? %>
           <%= link_to  'SFA/CRM', crms_path %>
           <%= link_to  'ナレッジ', knowledges_path %>
           <%= link_to  'ファイル', '/uploader/index' %>
          <% end %>
          <% if user_signed_in? %>
      　　　  <strong><% current_user.email  %></strong>
           <%= link_to "マイページ", user_path(current_user) %>
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

　　　　　　<% else %>
      　　　<%= link_to "ログイン", new_user_session_path%>
 　　　　　 <% end %>
      </div>
    </div>
</header>

<body>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    　<%= yield %>
  　</main>
</body>
</html>
