<!DOCTYPE html>
<html lang = "ja">
<head>
  <title>顧客管理システム</title>
   <meta charset="utf-8">
   <meta http-equiv="X^UA-Compatible" content="IE=edge">
   <meta name="robots" content="noindex" />
  <!--　レスポンシブの定義　-->
   <meta name="viewport" content="width=device-width, initial-scale=1,0, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= stylesheet_link_tag rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>



</head>
<header>
 <div class="container">
      <div class="header-left">
        <%= link_to "/" do %>
          <%= image_tag "rogo.png", width:"200px" %>
        <% end %>
           <%= link_to  'TOP', '#' %>
           <%= link_to  'CTI', customers_path %>
           <%= link_to  'CRM', crms_path %>
           <%= link_to  'File', '/uploader/form' %>
           <%= link_to  'FAQ', '/faqs/'  %>
           <% if admin_signed_in? %>
      　　　  <strong><% current_admin.email  %></strong>
           <%= link_to "admin", destroy_admin_session_path, method: :delete %>
　　　　　　   <% else %>
       　  <%= link_to "admin", new_admin_session_path%>
 　　　　　　　<% end %>
           <% if user_signed_in? %>
      　　　  <strong><% current_user.email  %></strong>
        　 <%= link_to "staff", destroy_user_session_path, method: :delete %>
　　　　　　　　<% else %>
      　　　<%= link_to "staff", new_user_session_path%>
 　　　　　　　 <% end %>
      </div>
      <div class="header-right">
        <%= link_to customers_path(type: "call_look", customer: '[desc]', target:'_blank') do %>
          <%= image_tag "look.png", width:"140px" %>
        <% end %>
      </div>
    </div>
</header>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <main>
    　<%= yield %>
  　</main>
</body>
</html>
