<!DOCTYPE html>
<html lang = "ja">
 <head>
       <title>助成金サポートなら抜群の実績と信頼の助成金サポート.jp</title>
              <meta charset="utf-8">
              <meta http-equiv="X^UA-Compatible" content="IE=edge">
              <!--　レスポンシブの定義　-->
               <meta name="viewport" content="width=device-width, initial-scale=1,0">
               <%= csrf_meta_tags %>
                <%= stylesheet_link_tag    'application', media: 'all'%>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
                 <%= javascript_include_tag 'application' %>
</head>
<header>
    <div class="container">
      <div class="header-left">
                <%= link_to '/' do %>
                    <%= image_tag("rogo.png", :class => "menu_icon")%>
                <% end %>
      </div>
      <div class="header-right">
        <!-- user/signed_in? はユーザーがログインしているか調べるdeviseのHelperメソッド -->
           <%= link_to  'ホーム', '/' %>
           <%= link_to  '会社概要', '/company' %>
           <%= link_to  '問い合わせ', '/contact' %>
           <%= link_to  '新規登録', '/companies/new'  %>
           <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>  
          <% else %>
          <%= link_to  'ログイン' ,'/users/sign_in'%>
          <% end %>
      </div>
    </div>
</header>

<body>
    <main>
        <%= yield %>
    </main>
</body>
</html>
